@using Nano35.HttpContext.storage

<EditForm Model="@_model">
    <div class="input-group mb-3">
        <span class="input-group-text">Харрактеристика: </span>
        <InputText @bind-Value="_model.Key" type="text" class="form-control"/>
        <span class="input-group-text">Значение: </span>
        <InputText @bind-Value="_model.Value" type="text" class="form-control"/>
        <button class="btn btn-outline-secondary" type="button" @onclick="AddSpec">Добавить</button>
    </div>
    <ul class="list-group">
        @foreach (var item in AddedSpecs)
        {
            <li class="list-group-item">@item.Key : @item.Value</li>
        }
    </ul>
</EditForm>

@code
{
    [Parameter] public List<SpecHttpContext> AddedSpecs { get; set; }
    private SpecHttpContext _model = new SpecHttpContext();

    private void AddSpec()
    {
        AddedSpecs.Add(_model);
        _model = new SpecHttpContext();
    }
}