@using Nano35.WebClient.Services
@using Nano35.HttpContext.storage
@inject HttpClient HttpClient 
@inject IRequestManager RequestManager 
@inject ISessionProvider SessionProvider


<EditForm Model="@Model" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    
    <RadzenFieldset Text="Категория">    
            <SelectArticleCategory @bind-Value="Model.CategoryId"/>
    </RadzenFieldset>
    
    <InputField Title="Бренд">
        <Controls>
            <RadzenTextBox Style="width: 100%;" 
                           Placeholder="..."
                           @bind-Value="Model.Brand"/>
        </Controls>
    </InputField>
    
    <InputField Title="Модель">
        <Controls>
            <RadzenTextBox Style="width: 100%;" 
                           Placeholder="..."
                           @bind-Value="Model.Model"/>
        </Controls>
    </InputField>
    
    <InputField Title="Описание">
        <Controls>
            <RadzenTextBox Style="width: 100%;" 
                           Placeholder="..."
                           @bind-Value="Model.Info"/>
        </Controls>
    </InputField>
    
    <InputField Title="Харрактеристики">
        <Controls>
            <AddArticleSpecification @bind-Value="_specs"/>
        </Controls>
    </InputField>
    <ul class="list-group">
        @foreach (var item in _specs)
        {
            <li class="list-group-item">@item.Key : @item.Value</li>
        }
    </ul>
    
    @if (!string.IsNullOrEmpty(Error))
    {
        <div class="alert alert-danger mt-3 mb-0">@Error</div>
    }
    
    <RadzenButton type="submit"
                  Text="Создать"
                  ButtonStyle="ButtonStyle.Primary"
                  Style="width: 100%" />
</EditForm>

@code
{
    [Parameter] public CreateArticleHttpBody Model { get; set; }
    [Parameter] public EventCallback FormSubmitted { get; set; }
    [Parameter] public string Error { get; set; }

    private List<SpecHttpContext> _specs = new List<SpecHttpContext>();

    private async void HandleValidSubmit()
    {
        Model.Specs = _specs;
        await FormSubmitted.InvokeAsync();
    }
}