@using Nano35.WebClient.Services
@using Nano35.HttpContext.storage
@inject HttpClient HttpClient 
@inject IRequestManager RequestManager 
@inject ISessionProvider SessionProvider


<EditForm Model="@Model" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    
    <InputField Title="Категория">
        <Controls>
            <SelectArticleCategory @bind-Value="Model.CategoryId"/>
        </Controls>
    </InputField>
    
    <InputField Title="Бренд">
        <Controls>
            <InputText @bind-Value="Model.Brand" 
                        class="form-control"/>
        </Controls>
    </InputField>
    
    <InputField Title="Модель">
        <Controls>
            <InputText @bind-Value="Model.Model" 
                        class="form-control"/>
        </Controls>
    </InputField>
    
    <InputField Title="Описание">
        <Controls>
            <InputText @bind-Value="Model.Info" 
                        class="form-control"/>
        </Controls>
    </InputField>
    
    <InputField Title="Харрактеристики">
        <Controls>
            <AddArticleSpecification @bind-Value="_specs"/>
        </Controls>
    </InputField>
    <ul class="list-group">
        @foreach (var item in _specs)
        {
            <li class="list-group-item">@item.Key : @item.Value</li>
        }
    </ul>
    
    @if (!string.IsNullOrEmpty(Error))
    {
        <div class="alert alert-danger mt-3 mb-0">@Error</div>
    }
    
    <button class="btn btn-primary">
        Создать
    </button>
</EditForm>

@code
{
    [Parameter] public CreateArticleHttpBody Model { get; set; }
    [Parameter] public EventCallback FormSubmitted { get; set; }
    [Parameter] public string Error { get; set; }

    private List<SpecHttpContext> _specs = new List<SpecHttpContext>();

    private async void HandleValidSubmit()
    {
        Model.Specs = _specs;
        await FormSubmitted.InvokeAsync();
    }
}