@using Nano35.Contexts.Http.storage

<EditForm Model="@_model" OnValidSubmit="AddSpec">
    <div class="input-group mb-3">
        <span class="input-group-text">Харрактеристика: </span>
        <InputText @bind-Value="_model.Key" type="text" class="form-control"/>
        <span class="input-group-text">Значение: </span>
        <InputText @bind-Value="_model.Value" type="text" class="form-control"/>
        <RadzenButton type="submit" Text="Добавить" ButtonStyle="ButtonStyle.Primary"/>
    </div>
</EditForm>

@code
{
    private List<SpecHttpContext> _value = new();
    [Parameter] public EventCallback<List<SpecHttpContext>> ValueChanged { get; set; }
    [Parameter] public List<SpecHttpContext> Value
    {
        get => _value;
        set
        {
            if (_value == value ) return;
            _value = value;
            ValueChanged.InvokeAsync(value);
        }
    }
    
    private SpecHttpContext _model = new();

    private async Task AddSpec()
    {
        Value.Add(_model);
        _model = new SpecHttpContext();
    }
}