@using Microsoft.AspNetCore.Authorization
@using Nano35.HttpContext.storage
@using Nano35.WebClient.Services
@attribute [Authorize]
@layout StorageLayout
@page "/instance/cancellations"
@inject IRequestManager RequestManager
@inject IComingsService ComingsService
@inject ISessionProvider SessionProvider
@inject HttpClient HttpClient

@if (_loading)
{
    <div class="d-flex justify-content-center" style="margin-top: 5rem">
        <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden"></span>
        </div>
    </div>
}
else
{
    <RadzenButton Click=@(_ => { _isNewComingDisplay = true; }) 
                  Text="Создать"
                  ButtonStyle="ButtonStyle.Primary"
                  Style="width: 100%" />
    <RadzenGrid AllowFiltering="true" 
                FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                FilterMode="FilterMode.Advanced" 
                AllowPaging="true"
                PageSize="10"
                AllowSorting="true" 
                Data="@_data"
                TItem="CancellationViewModel">
        <Columns>
            <RadzenGridColumn TItem="CancellationViewModel" Property="Number" Title="Номер" />
            <RadzenGridColumn TItem="CancellationViewModel" Property="Date" Title="Дата" />
            <RadzenGridColumn TItem="CancellationViewModel" Property="Unit" Title="Подразделение" />
            <RadzenGridColumn TItem="CancellationViewModel" Property="Client" Title="Клиент" />
        </Columns>
    </RadzenGrid>
    <Modal Title="Новое оприходование" 
           IsDisplay="@_isNewComingDisplay">
        <Form>
            <CreateComing/>
        </Form>
    </Modal>

}

@code
{
    private IEnumerable<CancellationViewModel> _data;
    private bool _isNewComingDisplay;
    private bool _loading = true;

    protected override async Task OnInitializedAsync()
    {
        _data = (await (new GetAllCancellationsRequest(RequestManager, HttpClient, new GetAllCancellationsHttpQuery() {InstanceId = await SessionProvider.GetCurrentInstanceId()})).Send()).Data;
        _loading = false;
    }
    
}
