@using Nano35.WebClient.Services
@using Nano35.Contracts.Instance.Models
@using Nano35.Contexts.Http.storage
@using Nano35.Contexts.Http.Instance
@using Nano35.Contexts.Http.Cashbox
@using Nano35.Contracts.Cashbox.Models
@inject HttpClient HttpClient
@inject RequestManager RequestManager
@inject ISessionProvider SessionProvider
@inject NotificationService NotificationService
@inject HealthService HealthService
@inject NavigationManager NavigationManager
@inject HttpGet GetRequest
@inject HttpPost PostRequest

<div style="width: 40rem;">
        <LoadingContent IsLoaded="_isLoaded">
            <RadzenGrid EmptyText="Нет кассовых операций." AllowPaging="true"
                                Style="width: 100%" PageSize="16" Data="@Data" 
                                TItem="FreeOperationViewModel">
                        <Columns>
                            <RadzenGridColumn TItem="FreeOperationViewModel" Property="Item.Date" Title="Дата"/>
                            <RadzenGridColumn TItem="FreeOperationViewModel" Property="Item.Cash" Width="140px" Title="Сумма" />
                            <RadzenGridColumn TItem="FreeOperationViewModel" Width="100px" Title="Статус" >
                            <Template Context="item"> @item.State </Template>
                            </RadzenGridColumn>
                            
                        </Columns>
                    </RadzenGrid>
        </LoadingContent>
</div>

@code
{
    [CascadingParameter] public IModalService Modal { get; set; }
    [CascadingParameter] BlazoredModalInstance ModalInstance { get; set; }
    private List<FreeOperationViewModel> Data { get; set; } = new();
    private string Error { get; set; }

    private bool _isLoaded;
    private int Count;
    
    protected override async Task OnInitializedAsync()
    {
        _isLoaded = false;
        await GetRequest.InvokeAsync<AllFreeCashOperationsHttpResponse>(
            $"cashbox/Cashbox/AllFreeCashOperations?UnitId={await SessionProvider.GetCurrentUnitId()}",
            resp => {if (resp.IsSuccess()){Data = resp.Success.Operations;} else{NavigationManager.NavigateTo("/instance-view");}});
        _isLoaded = true;
    }
}
