@using Nano35.WebClient.Services
@using Nano35.HttpContext.instance
@inject HttpClient HttpClient
@inject IRequestManager RequestManager
@inject ISessionProvider SessionProvider

<div style="width: 40rem;">
    <ClientsForm FormSubmitted="Submit"
                 Model="_model" 
                 Error="@Error"
                 TypeId="@TypeId"/>
</div>

@code
{
    [Parameter] public Guid TypeId { get; set; } = Guid.Empty;
    private CreateClientHttpBody _model = new()
    {
        NewId = Guid.NewGuid(),
        InstanceId = Guid.Empty
    };
    
    private string Error { get; set; }
    
    private async Task Submit()
    {
        try
        {
            await new CreateClientRequest(RequestManager, HttpClient, _model).Send();
        }
        catch (Exception e)
        {
            Error = e.Message;
        }
    }
    
    protected override async Task OnInitializedAsync()
    {
        _model = new CreateClientHttpBody
        {
            NewId = Guid.NewGuid(),
            InstanceId = await SessionProvider.GetCurrentInstanceId()
        };
    }
}
