@page "/clients"
<AuthorizeView>
    <div class="page">
        <div class="sidebar">
            <NavMenu/>
        </div>
        <div class="main">
            <h3>Clients</h3>
        </div>
    </div>
    
</AuthorizeView>