@using Microsoft.AspNetCore.Authorization
@using Nano35.HttpContext.storage
@using Nano35.WebClient.Services
@attribute [Authorize]
@layout StorageLayout
@page "/instance/coming"
@inject IRequestManager RequestManager
@inject IComingsService ComingsService
@inject ISessionProvider SessionProvider


@if (_loading)
{
    <div class="col-md-6 offset-md-3 mt-5">
        <div class="card">
            <h4 class="card-header">Загрузка</h4>
            <div class="card-body">
                ...
            </div>
        </div>
    </div>
}
else
{
    <RadzenButton Click=@(args => { ShowModalNewComing(); }) 
                  Text="Создать"
                  ButtonStyle="ButtonStyle.Primary"
                  Style="width: 100%" />
    <RadzenGrid AllowFiltering="true" 
                FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                FilterMode="FilterMode.Advanced" 
                AllowPaging="true"
                PageSize="10"
                AllowSorting="true" 
                Data="@_data"
                TItem="ComingViewModel">
        <Columns>
            <RadzenGridColumn TItem="ComingViewModel" Property="Number" Title="Номер" />
            <RadzenGridColumn TItem="ComingViewModel" Property="Date" Title="Дата" />
            <RadzenGridColumn TItem="ComingViewModel" Property="Unit" Title="Подразделение" />
            <RadzenGridColumn TItem="ComingViewModel" Property="Client" Title="Клиент" />
            <RadzenGridColumn TItem="ComingViewModel" Property="Cash" Title="Цена" />
        </Columns>
    </RadzenGrid>
    <Modal Title="Новое оприходование" 
           IsDisplay="@_isNewComingDisplay">
        <Form>
            <CreateComing/>
        </Form>
    </Modal>

}

@code
{
    private IEnumerable<ComingViewModel> _data;
    private bool _isNewComingDisplay = false;
    private bool _loading = true;

    protected override async Task OnInitializedAsync()
    {
        var isAvailable = await RequestManager.HealthCheck(RequestManager.StorageServer);
        _data = (await ComingsService.GetAllComings(await SessionProvider.GetCurrentInstanceId())).Data;
        _loading = false;
    }

    private void ShowModalNewComing() => _isNewComingDisplay = true;
    private void HideModalNewComing() => _isNewComingDisplay = false;
    
}
