@using Microsoft.AspNetCore.Authorization
@using Nano35.HttpContext.storage
@using Nano35.WebClient.Services
@attribute [Authorize]
@layout StorageLayout
@page "/instance/coming"
@inject IRequestManager RequestManager
@inject IComingsService ComingsService
@inject ISessionProvider SessionProvider

@if (_loading)
{
    <div class="d-flex justify-content-center" style="margin-top: 5rem; margin-bottom: 5rem">
        <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden"></span>
        </div>
    </div>
}
else
{
    <RadzenButton Click=@(_ => { NewComing(); }) 
                  Text="Создать"
                  ButtonStyle="ButtonStyle.Primary"
                  Style="width: 100%" />
    <RadzenGrid AllowFiltering="true" 
                FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                FilterMode="FilterMode.Advanced" 
                AllowPaging="true"
                PageSize="10"
                AllowSorting="true" 
                Data="@_data"
                TItem="ComingViewModel">
        <Columns>
            <RadzenGridColumn TItem="ComingViewModel" Property="Number" Title="Номер" />
            <RadzenGridColumn TItem="ComingViewModel" Property="Date" Title="Дата" />
            <RadzenGridColumn TItem="ComingViewModel" Property="Unit" Title="Подразделение" />
            <RadzenGridColumn TItem="ComingViewModel" Property="Client" Title="Клиент" />
            <RadzenGridColumn TItem="ComingViewModel" Property="Cash" Title="Цена" />
            <RadzenGridColumn TItem="ComingViewModel"
                              Context="coming"
                              Bubble="false"
                              TextAlign="TextAlign.Center" 
                              Width="70px">
                <Template Context="item">
                    <RadzenButton
                        ButtonStyle="ButtonStyle.Info"
                        Icon="search"
                        Size="ButtonSize.Small" 
                        Click="@(_ => { OpenComing(item); })">
                    </RadzenButton>
                </Template>
            </RadzenGridColumn>
        </Columns>
    </RadzenGrid>

}

@code
{
    private IEnumerable<ComingViewModel> _data;
    private bool _loading = true;
    [CascadingParameter] public IModalService Modal { get; set; }

    protected override async Task OnInitializedAsync()
    {
        _data = (await ComingsService.GetAllComings(await SessionProvider.GetCurrentInstanceId())).Data;
        _loading = false;
    }

    private void NewComing()
    {
        Modal.Show<CreateComing>("Новое оприходование");
    }

    private void OpenComing(ComingViewModel coming)
    {
        var parameters = new ModalParameters();
        parameters.Add(nameof(ComingDetails.Coming), coming);
        Modal.Show<ComingDetails>($"Оприходование", parameters);
    }
}
