@page "/employees"
<AuthorizeView>
    <div class="page">
        <div class="sidebar">
            <NavMenu/>
        </div>
        <div class="main">
            <h3>Employees</h3>
        </div>
    </div>
    
</AuthorizeView>