@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]
@page "/instance-view"



<div class="page">
    <div class="sidebar bg-dark">
        <NavMenu/>
    </div>
    <div class="main">
    @if (!_loading)
    {        
        <h2>Организация</h2>
    }
    else
    {
        <h1>Загрузка...</h1>
    }
    </div>
</div>