@using Microsoft.AspNetCore.Authorization
@using Nano35.HttpContext.instance
@attribute [Authorize]
@page "/instances"

<AuthorizeView>
    @if (_loading)
    {
        <div class="col-md-6 offset-md-3 mt-5">
            <div class="card">
                <h4 class="card-header">Загрузка</h4>
                <div class="card-body">
                    ...
                </div>
            </div>
        </div>
    }
    else
    {
        @if (!_serverAvailable)
        {
            <h4 class="card-header">Сервер недоступен</h4>
            <div class="card-body">
                Повторите попытку позднее
            </div>
        }
        else
        {
            <button class="btn btn-outline-primary"
                    style="width: 100%"
                    @onclick="ShowModalNewInstance">
                Создать
            </button>
            <br/>
            <Grid Items="@_data" TItem="InstanceViewModel"
                  DetailsRow="(item) => OpenOrg(item.Id)">    
                <Header>  
                    <th>Название</th>
                    <th>Организации</th>
                </Header>  
                <Row Context="item">  
                    <td>@item.OrgName</td>
                    <td>@item.OrgRealName</td>
                </Row>  
            </Grid>
            @if (_isNewInstanceDisplay)
            {
            
                <ModalNewInstance 
                    OnHideModalNewInstance="HideModalNewInstance"/>
            }
        }
    }
</AuthorizeView>