@using Microsoft.AspNetCore.Authorization
@using Nano35.HttpContext.instance
@using Nano35.WebClient.Services
@attribute [Authorize]
@page "/instances"
@inject NavigationManager NavigationManager
@inject IRequestManager RequestManager
@inject IInstanceService InstanceService 
@inject ISessionProvider SessionProvider
@inject HttpClient HttpClient

<AuthorizeView>
@if (_loading)
{
    <div class="d-flex justify-content-center" style="margin-top: 5rem; margin-bottom: 5rem">
        <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden"></span>
        </div>
    </div>
}
else
{
    <div style="margin: 1rem;">
        <RadzenHeading Text="Организации"/>

        <RadzenButton Click=@(_ => NewInstance()) 
                      Text="Создать"
                      Style="margin: 1rem 0;"
                      ButtonStyle="ButtonStyle.Secondary"/>

        <RadzenGrid Data=@(_data)
                    EmptyText="..."
                    TItem="InstanceViewModel">
            <Columns>
                <RadzenGridColumn TItem="InstanceViewModel"
                                  Property="OrgName" 
                                  Title="Название" />
                <RadzenGridColumn TItem="InstanceViewModel" 
                                  Property="OrgRealName" 
                                  Title="Организация" />
                <RadzenGridColumn TItem="InstanceViewModel"
                                  Context="order"
                                  Bubble="false"
                                  TextAlign="TextAlign.Center" 
                                  Width="200px">
                    <Template Context="item">
                        <RadzenButton
                            ButtonStyle="ButtonStyle.Secondary"
                            Click="@(_ => OpenOrg(item.Id))">
                            Войти
                        </RadzenButton>
                    </Template>
                </RadzenGridColumn>
            </Columns>
        </RadzenGrid>
    </div>
}
</AuthorizeView>

@code
{
    private bool _loading = true;
    private IEnumerable<InstanceViewModel> _data;
    [CascadingParameter] public IModalService Modal { get; set; }
    
    protected override async Task OnInitializedAsync()
    {
        _loading = true;
        _data = (await (new GetAllInstancesRequest(RequestManager, HttpClient, new GetAllInstancesHttpQuery() {})).Send()).Data;
        _loading = false;
    }
    
    private async Task NewInstance()
    {
        var modal = Modal.Show<InstancesCreate>("Новая организация");
        await modal.Result;
        _data = (await (new GetAllInstancesRequest(RequestManager, HttpClient, new GetAllInstancesHttpQuery() {})).Send()).Data;
        
    }

    private async Task OpenOrg(Guid id)
    {
        await InstanceService.SetInstanceById(id);         //get session
        await SessionProvider.SetCurrentInstanceId(id);    //set instance id
        NavigationManager.NavigateTo("/instance-view");
    }
}
