@using Microsoft.AspNetCore.Authorization
@using Nano35.WebClient.Services
@attribute [Authorize]
@layout InstanceLayout
@page "/instance-view"
@inject ISessionProvider SessionProvider
@inject HealthService HealthService
@inject NavigationManager NavigationManager

<h2>Организация</h2>

@code
{
    protected override async Task OnInitializedAsync()
    {
        if (!await SessionProvider.IsCurrentSessionIdExist())
            NavigationManager.NavigateTo("/instances");
    }
}
