@page "/log-in"

<div class="col-md-6 offset-md-3 mt-5">
    <div class="card">
        @if (_loading)
        {
            <h4 class="card-header">Загрузка</h4>
            <div class="card-body">
                ...
            </div>
        }
        else
        {
            @if (!_serverAvailable)
            {
            
                <h4 class="card-header">Сервер недоступен</h4>
                <div class="card-body">
                    Повторите попытку позднее
                </div>
            }
            else
            {
                <h4 class="card-header">Авторизация</h4>
                <div class="card-body">
                    <EditForm Model="@_model" OnValidSubmit="HandleValidSubmit">
                        <DataAnnotationsValidator />
    
                        <InputField Title="Номер телефона">
                            <Controls>
                                <InputText @bind-Value="_model.Login" 
                                            class="form-control"/>
                            <ValidationMessage For="@(() => _model.Login)" />
                            </Controls>
                        </InputField>
    
                        <InputField Title="Пароль">
                            <Controls>
                                <InputText @bind-Value="_model.Password"
                                            type="password" 
                                            class="form-control"/>
                                <ValidationMessage For="@(() => _model.Password)" />
                            </Controls>
                        </InputField>
                        <button class="btn btn-primary">
                            Войти
                        </button>
                        @if (!string.IsNullOrEmpty(_error))
                        {
                            <div class="alert alert-danger mt-3 mb-0">@_error</div>
                        }
                    </EditForm>
                </div>
            }
        }
    </div>
</div>