@page "/log-in"
@using Nano35.WebClient.Services
@using Nano35.HttpContext.identity
@inject IAuthService AuthService           
@inject NavigationManager NavigationManager
@inject IRequestManager RequestManager     

<div class="col-md-6 offset-md-3 mt-5">
    <div class="card">
        @if (_loading)
        {
            <div class="d-flex justify-content-center" style="margin-top: 5rem; margin-bottom: 5rem">
                <div class="spinner-border text-primary" role="status">
                    <span class="visually-hidden"></span>
                </div>
            </div>
        }
        else
        {
            <RadzenPanel>
                <ChildContent>
                    <h1>Авторизация</h1>
                    <EditForm Model="@_model" OnValidSubmit="HandleValidSubmit">
                        <DataAnnotationsValidator />
        
                        <InputField Title="Номер телефона">
                            <Controls>
                                <InputText @bind-Value="_model.Login" 
                                            class="form-control"/>
                            </Controls>
                            <Validation>
                                <ValidationMessage For="@(() => _model.Login)" />
                            </Validation>
                        </InputField>
        
                        <InputField Title="Пароль">
                            <Controls>
                                <InputText @bind-Value="_model.Password"
                                            type="password" 
                                            class="form-control"/>
                            </Controls>
                            <Validation>
                                <ValidationMessage For="@(() => _model.Password)" />
                            </Validation>
                        </InputField>
                        
                        <button class="btn btn-primary">Войти</button>
                        <NavLink class="btn btn-secondary" href="registration">Регистрация</NavLink>
                            
                        @if (!string.IsNullOrEmpty(_error))
                        {
                            <div class="alert alert-danger mt-3 mb-0">@_error</div>
                        }
                    </EditForm>
                </ChildContent>
            </RadzenPanel>
        }
    </div>
</div>

@code
{
    private GenerateUserTokenHttpBody _model = new();
    private bool _loading = true;
    private string _error;

    protected override async Task OnInitializedAsync()
    {
        _loading = false;
    }

    private async Task HandleValidSubmit()
    {
        try
        {
            await AuthService.Login(_model);
            NavigationManager.NavigateTo("/");
        }
        catch (Exception ex)
        {
            _error = ex.Message;
        }
    }
}
