<div class="modal-background">
    <div class="modal-content card">
        <h4 class="card-header">Новая позиция к оприходованию</h4>
        <div class="card-body">
            <EditForm Model="@_model" >
                
                <SelectStorageItem
                    OnSelectedStorageItemChanged="OnSelectedStorageItemChanged"/>
                
                @* ToDo implement two way binding of current unit and item ids *@
                <SelectComingDetailPlaceOnStorage
                    UnitId="UnitId"
                    StorageItemId="_model.StorageItemId"
                    OnComingDetailPlaceOnStorageChanged="OnComingDetailPlaceOnStorageChanged"/>
                
                <SelectComingDetailCount
                    OnComingDetailCountChanged="OnComingDetailCountChanged"/>
                
                <SelectComingDetailPrice
                    OnComingDetailPriceChanged="OnComingDetailPriceChanged"/>
                
                @if (!string.IsNullOrEmpty(_error))
                {
                    <div class="alert alert-danger mt-3 mb-0">@_error</div>
                }
                <div class="btn-group">
                    @if (_loading)
                    {
                        <button class="btn btn-primary" disabled>
                            Создать
                        </button>
                    }
                    else
                    {
                        
                        <input type="submit" 
                               class="btn btn-primary" 
                               @onclick="HandleValidSubmit" 
                               value="Создать"/>
                    }
                    
                        <button class="btn btn-secondary" 
                                @onclick="HideModalNewComingDetail" >
                            Закрыть
                        </button>
                </div>
            </EditForm>
        </div>
    </div>
</div>