<div class="modal-background">
    <div class="modal-content card">
        <h4 class="card-header">Новый товар</h4>
        <div class="card-body">
        @if (!_loading)
        {
            <EditForm Model="@_model" OnValidSubmit="Create">
                
                <SelectArticle
                    OnSelectedArticleChanged="OnSelectedArticleChanged"/>
                
                <SelectStorageItemCondition
                    OnSelectedArticleCategoryChanged="OnSelectedStorageItemConditionChanged"/>
                
                <SelectStorageItemComment
                    OnStorageItemCommentChanged="OnStorageItemCommentChanged"/>
                
                <SelectStorageItemHiddenComment
                    OnStorageItemHiddenCommentChanged="OnStorageItemHiddenCommentChanged"/>
                
                <SelectStorageItemPurchasePrice
                    OnStorageItemPurchasePriceChanged="OnStorageItemPurchasePriceChanged"/>
                
                <SelectStorageItemRetailPrice
                    OnStorageItemRetailPriceChanged="OnStorageItemRetailPriceChanged"/>
                
                <div class="input-group mb-3">
                    <label class="input-group-text" for="inputGroupFile01">Фотографии: </label>
                    <input type="file" class="form-control" id="inputGroupFile01">
                </div>
                
                <div class="btn-group">
                    <button class="btn btn-primary">
                        Создать
                    </button>
                    <button class="btn btn-secondary" type="button"
                            @onclick="HideModalNewStorageItem">Закрыть
                    </button>
                </div>
            </EditForm>
        }
        </div>
    </div>
</div>