<div class="modal-background">
    <div class="modal-content card">
        <h4 class="card-header">Новое подразделение</h4>
        <div class="card-body">
            <EditForm Model="@_model" OnValidSubmit="Create">
                
                <SelectUnitName
                    OnSelectedUnitNameChanged="UnitsNameChanged"/>
                
                <SelectUnitAddress
                    OnSelectedUnitAddressChanged="UnitsAddressChanged"/>
                
                <SelectUnitWorkingFormat
                    OnSelectedUnitsTypeChanged="UnitsPhoneChanged"/>
                
                <SelectUnitWorkingFormat
                    OnSelectedUnitsTypeChanged="UnitsWorkingFormatChanged"/>
                
                <SelectUnitsType
                    OnSelectedUnitsTypeChanged="UnitsTypeIdChanged"/>
                
                @if (!string.IsNullOrEmpty(_error))
                {
                    <div class="alert alert-danger mt-3 mb-0">@_error</div>
                }
                <div class="btn-group">
                    @if (_loading)
                    {
                        <button class="btn btn-primary" disabled>
                            Создать
                        </button>
                    }
                    else
                    {
                        <button class="btn btn-primary">
                            Создать
                        </button>
                    }
                    <button class="btn btn-secondary"
                            @onclick="HideModalNewUnit">Закрыть
                    </button>
                </div>
            </EditForm>
        </div>
    </div>
</div>