@if (this.Display)
{
    <div class="modal-background">
        <div class="modal-content card">
            <h4 class="card-header">Новый клиент</h4>
            <div class="card-body">
            
            </div>
        </div>
    </div>
}