<div class="modal-background">
    <div class="modal-content card">
        <h4 class="card-header">Новое наименование</h4>
        <div class="card-body">
                <EditForm Model="@_model" OnValidSubmit="HandleValidSubmit">
                    
                    <SelectArticleCategory
                        OnSelectedArticleCategoryChanged="CurrentArticleCategoryChanged"/>

                    <SelectArticleBrand
                        OnArticleBrandChanged="CurrentArticleBrandChanged"/>

                    <SelectArticleModel
                        OnArticleModelChanged="CurrentArticleModelChanged"/>

                    <SelectArticleInfo
                        OnArticleInfoChanged="ArticleInfoChanged"/>

                    <AddArticleSpecification
                        OnUpdateAddedSepecs="CurrentArticlesSpecsChanged"/>

                    <div class="btn-group">
                    @if (_loading)
                    {
                        <button class="btn btn-primary" disabled>
                            Создать
                        </button>
                    }
                    else
                    {
                        <button class="btn btn-primary">
                            Создать
                        </button>
                    }
                        <button class="btn btn-secondary"
                                @onclick="HideModalNewArticle">Закрыть
                        </button>
                    </div>
                </EditForm>
        </div>
    </div>
</div>