@using Microsoft.AspNetCore.Authorization
@using Nano35.HttpContext.storage
@using Nano35.WebClient.Services
@attribute [Authorize]
@layout InstanceLayout
@page "/instance/moves"
@inject IRequestManager RequestManager
@inject IComingsService ComingsService
@inject ISessionProvider SessionProvider
@inject HttpClient HttpClient

@if (_loading)
{
    <div class="d-flex justify-content-center" style="margin-top: 5rem">
        <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden"></span>
        </div>
    </div>
}
else
{
    <RadzenHeading Text="Перемещения"/>
    
    <RadzenButton Click=@(_ => NewCancellation()) 
                  Text="Создать"
                  Style="margin: 1rem 0;"
                  ButtonStyle="ButtonStyle.Primary"/>
    
    <RadzenGrid AllowFiltering="true" 
                FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                FilterMode="FilterMode.Advanced" 
                AllowPaging="true"
                PageSize="10"
                AllowSorting="true" 
                Data="@_data"
                TItem="MoveViewModel">
        <Columns>
            <RadzenGridColumn TItem="MoveViewModel" 
                              Property="Number" 
                              Title="Номер" />
            <RadzenGridColumn TItem="MoveViewModel" 
                              Property="Date" 
                              Title="Дата" />
            <RadzenGridColumn TItem="MoveViewModel" 
                              Property="ToUnit"
                              Title="Подразделение получатель" />
            <RadzenGridColumn TItem="MoveViewModel" 
                              Property="FromUnit" 
                              Title="Подразделение отправитель" />
            <RadzenGridColumn TItem="MoveViewModel" 
                              Filterable="false"
                              Sortable="false"
                              Width="130px">
                <Template Context="item">
                    <RadzenButton Click=@(_ => OpenMove(item)) 
                                  Text="Информация"
                                  Size="ButtonSize.Small"
                                  Style="margin: 1rem 0;"
                                  ButtonStyle="ButtonStyle.Primary"/>
                </Template>
            </RadzenGridColumn>
        </Columns>
    </RadzenGrid>
}

@code
{
    private List<MoveViewModel> _data;
    private bool _loading = true;
    [CascadingParameter] public IModalService Modal { get; set; }

    protected override async Task OnInitializedAsync()
    {
        _data = (await (new GetAllMovesRequest(RequestManager, HttpClient, new GetAllMovesHttpQuery() {InstanceId = await SessionProvider.GetCurrentInstanceId()})).Send()).Data;
        _loading = false;
    }

    private async Task NewCancellation()
    {
        var modal = Modal.Show<MovesCreate>("Новое списание");
        //if (!modal.Result.IsCanceled)
        //{
        //    Console.WriteLine("213123");
        //    _data = (await (new GetAllMovesRequest(RequestManager, HttpClient, new GetAllMovesHttpQuery() {InstanceId = await SessionProvider.GetCurrentInstanceId()})).Send()).Data;
        //}
    }

    private async Task OpenMove(MoveViewModel value)
    {
        var parameters = new ModalParameters();
        parameters.Add(nameof(MovesDetails.Move), value);
        var modal = Modal.Show<MovesDetails>($"Перемещение", parameters);
        await modal.Result;
        _data = (await (new GetAllMovesRequest(RequestManager, HttpClient, new GetAllMovesHttpQuery() {InstanceId = await SessionProvider.GetCurrentInstanceId()})).Send()).Data;
    }
}
