@using Nano35.HttpContext.storage
@using Nano35.WebClient.Services
@inject HttpClient HttpClient
@inject IRequestManager RequestManager
@inject ISessionProvider SessionProvider

<div style="width: 40rem;">
    <MovesForm FormSubmitted="SendCreateComingRequest"
               Model="_model" 
               Error="@Error"/>
</div>

@code
{
    [CascadingParameter] public IModalService Modal { get; set; }
    [CascadingParameter] BlazoredModalInstance ModalInstance { get; set; }
    
    private CreateMoveHttpBody _model = new()
    {
        NewId = Guid.NewGuid(),
        InstanceId = Guid.Empty
    };
    private string Error { get; set; }
    
    private async Task SendCreateComingRequest()
    {
        try
        {
            await new CreateMoveRequest(RequestManager, HttpClient, _model).Send();
            await ModalInstance.CloseAsync(ModalResult.Ok(""));
        }
        catch (Exception e)
        {
            Error = e.Message;
        }
    }
    
    protected override async Task OnInitializedAsync()
    {
        _model = new CreateMoveHttpBody
        {
            NewId = Guid.NewGuid(),
            InstanceId = await SessionProvider.GetCurrentInstanceId()
        };
    }
}