@attribute [Authorize]
@layout InstanceLayout
@page "/instance/repairs"
@using Microsoft.AspNetCore.Authorization
@using Nano35.HttpContext.Repair
@using Nano35.WebClient.Services
@inject IRequestManager RequestManager
@inject IRepairOrdersService RepairService
@inject ISessionProvider SessionProvider
@inject HttpClient HttpClient

@if (_isLoaded)
{
    <div class="d-flex justify-content-center" style="margin-top: 5rem; margin-bottom: 5rem">
        <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden"></span>
        </div>
    </div>
}
else
{
    <RadzenHeading Text="Заказ наряды"/>
    
    <RadzenButton Click=@(_ => NewOrder()) 
                  Text="Создать"
                  Style="margin: 1rem 0;"
                  ButtonStyle="ButtonStyle.Primary"/>
    
    <RadzenGrid AllowFiltering="true"
                FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                FilterMode="FilterMode.Advanced"
                AllowPaging="true"
                PageSize="10"
                AllowSorting="true"
                Data="@_data"
                TItem="RepairOrderViewModel">
        <Columns>
            <RadzenGridColumn TItem="RepairOrderViewModel"
                              Property="Client"
                              Title="Клиент"/>
            <RadzenGridColumn TItem="RepairOrderViewModel"
                              Property="Device"
                              Title="Изделие"/>
            <RadzenGridColumn TItem="RepairOrderViewModel"
                              Property="LastState"
                              Title="Статус"/>
            <RadzenGridColumn TItem="RepairOrderViewModel"
                              Bubble="false"
                              TextAlign="TextAlign.Center" 
                              Width="200px">
                <Template Context="item">
                    <RadzenButton Click=@(_ => DetailsOpen(item.Id))
                                  Text="Информация"
                                  ButtonStyle="ButtonStyle.Info"/>
                </Template>
            </RadzenGridColumn>
        </Columns>
    </RadzenGrid>
}

@code {
    private bool _isLoaded = true;
    private List<RepairOrderViewModel> _data;
    [CascadingParameter] BlazoredModalInstance ModalInstance { get; set; }
    [CascadingParameter] public IModalService Modal { get; set; }
    
    protected override async Task OnInitializedAsync()
    {
        _data = (await RepairService.GetAllRepairOrders(await SessionProvider.GetCurrentInstanceId())).Data;
        _isLoaded = false;
    }

    private async Task DetailsOpen(Guid id)
    {
        var parameters = new ModalParameters();
        parameters.Add(nameof(RepairOrdersDetailForm.Id), id);
        Modal.Show<RepairOrdersDetailForm>($"Заказ наряд от {_data.FirstOrDefault().Client}", parameters);
    }
    
    private async Task NewOrder()
    {
        Modal.Show<RepairOrdersCreate>("Новый наряд");
        
        _data = (await RepairService.GetAllRepairOrders(await SessionProvider.GetCurrentInstanceId())).Data;

    }

}