<InputSelect @bind-Value="StorageItemId" class="custom-select">
    @if (_loading)
    {
        <option selected disabled>Загрузка</option>
    }
    else
    {
        <option selected disabled>Выберите товар</option>
        @foreach (var item in StorageItems)
        {
            <option value="@item.Id">@item.Article @item.Condition</option>
        }
    }
</InputSelect>
<div class="input-group-append">
    <button class="btn btn-outline-primary"
            type="button"
            @onclick="() => { _isNewStorageItemDisplay = true; }">
        Создать
    </button>
</div>

<Modal Title="Новый товар" 
       IsDisplay="@_isNewStorageItemDisplay">
    <Form>
        <CreateStorageItemForm/>  
    </Form>
</Modal>
