<InputSelect @bind-Value="SelectedUnitsTypeId" class="custom-select">
    @if (_loading)
    {
        <option selected disabled>Загрузка</option>
    }
    else
    {
        <option selected disabled>Выберите тип подразделения</option>
        @foreach (var item in Types)
        {
            <option value="@item.Id">@item.Name </option>
        }
    }
</InputSelect>