<select @bind="SelectedUnitId" class="custom-select">
    @if (_loading)
    {
        <option selected disabled>Загрузка</option>
    }
    else
    {
        <option selected disabled>Выберите подразделение</option>
        @foreach (var item in Units)
        {
            <option value="@item.Id">@item.Name</option>
        }
    }
</select>
@if (CanCreate)
{
    <div class="input-group-append">
        <button class="btn btn-outline-primary"
                type="button"
                @onclick="() => { _isNewUnitDisplay = true; }">
            Создать
        </button>
    </div>
    <Modal Title="Новое подразделение" 
           IsDisplay="@_isNewUnitDisplay">
        <Form>
            <CreateUnitForm/>  
        </Form>
    </Modal>
}
