<div class="form-group">
    <label>Место на складе</label>
    <InputText @bind-Value="ComingDetailPlaceOnStorage" list="brandsOptions" class="form-control" />
</div>
<datalist id="brandsOptions">
</datalist>