<div class="form-group">
    <label>Товар</label>
    <div class="input-group">
        <InputSelect @bind-Value="SelectedStorageItemId" class="custom-select">
            @if (_loading)
            {
                <option selected disabled>Загрузка</option>
            }
            else
            {
                <option selected disabled>Выберите товар</option>
                @foreach (var item in StorageItems)
                {
                    <option value="@item.Id">@item.Article @item.Condition</option>
                }
            }
        </InputSelect>
        <div class="input-group-append">
            <button class="btn btn-outline-primary" 
                    type="button"
                    @onclick="ShowModalNewStorageItem">Создать</button>
        </div>
    </div>
</div>

@if (_isNewStorageItemDisplay)
{
    <ModalNewStorageItem 
        OnHideModalNewStorageItem="HideModalNewStorageItem"/>  
}
