<InputSelect @bind-Value="SelectedUnitId" class="custom-select">
    @if (_loading)
    {
        <option selected disabled>Загрузка</option>
    }
    else
    {
        <option selected disabled>Выберите подразделение</option>
        @foreach (var item in Units)
        {
            <option value="@item.Id">@item.Name</option>
        }
    }
</InputSelect>
<div class="input-group-append">
    <button class="btn btn-outline-primary"
            type="button"
            @onclick="ShowModalNewUnit">Создать</button>
</div>

