@using Nano35.HttpContext.storage

<div class="form-group">
    <label>Наименование</label>
    <div class="input-group">
        @if (!_isLoading)
        {
            <SelectWithHeader Items="FiltratedArticles"
                              TItem="ArticleViewModel"
                              Title='@(_tmp == null ? "Выберите наименование" : $"{_tmp.Category} {_tmp.Model}" )'
                              @bind-Value="tmp">
                <Header>
                    <div class="input-group">
                        <InputText @bind-Value="_filter" 
                                    class="form-control" 
                                    placeholder="Выберите категорию или создайте новую!"/>
                        @if (CanCreate)
                        {
                            <div class="input-group-append">
                                <button class="btn btn-outline-primary"
                                        type="button"
                                        @onclick="() => { _isNewArticleDisplay = true; }">Создать</button>
                            </div>
                            <Modal Title="Новое наименование"
                                   IsDisplay="@_isNewArticleDisplay">
                                <Form>
                                    <CreateArticle/>
                                </Form>
                            </Modal>
                        }
                    </div>
                </Header>
                <Row Context="item">
                    <span>@item.Category @item.Model</span>
                </Row>
            </SelectWithHeader>
        }
    </div>
</div>

@code
{
    private ArticleViewModel _tmp;
    private ArticleViewModel tmp
    {
        get => _tmp;
        set 
        { 
            ArticlesId = value.Id;
            _tmp = value; 
        }
    }
}

