<select @bind="SelectedClientId" class="custom-select">
    @if(_loading)
    {
        <option selected disabled>Загрузка</option>
    }
    else
    {
        <option selected disabled>Выберите клиента</option>
        @foreach (var item in Clients)
        {
            <option value="@item.Id">@item.Name </option>
        }
    }
</select>
@if (CanCreate)
{
    <div class="input-group-append">
        <button class="btn btn-outline-primary"
                type="button"
                @onclick="() => { _isNewClientDisplay = true; }">
            Создать
        </button>
    </div>

    <Modal Title="Новый клиент" 
           IsDisplay="@_isNewClientDisplay">
        <Form>
            <CreateClient/>  
        </Form>
    </Modal>
}
