<div class="form-group">
    <label>Цена</label>
    <div class="input-group">
    <InputNumber @bind-Value="ComingDetailPrice" class="form-control" />
    <span class="input-group-text">Руб.</span>
    </div>
</div>