<div style="width: 100%;">
    <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
                @for (var i = 0; i < _selectedCategories.Count; i++)
                {
                    <li class="breadcrumb-item active">
                        <span>
                            @_selectedCategories[i].Name
                            <button class="btn btn-outline-danger" 
                                    type="button"
                                    @onclick="() => OnRemoveSelectedCategory(i)">x</button>
                        </span>
                    </li>
                                                                 
                }
          </ol>
    </nav>

    <div class="dropdown">
        <button class="btn btn-outline-secondary dropdown-toggle w-100" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false">
            Добавить категорию
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <span class="dropdown-header input-group">
                <InputText @bind-Value="_name" class="form-control" placeholder="Выберите категорию или создайте новую!"/>
                <div class="input-group-append">
                    <button class="btn btn-outline-primary" 
                            type="button"
                            @onclick="OnCreateCategory">Создать</button>
                </div>
            </span>
            @if (_isLoading)
            {
                <span class="dropdown-header input-group">
                    Загрузка
                </span>
            }
            else
            {
                @foreach (var item in _categories)
                {
                    <a class="dropdown-item" @onclick="() => OnAddCategory(item)">@item.Name</a> 
                }
            }
        </div>
    </div>
</div>