@using Nano35.HttpContext.storage
@using Nano35.WebClient.Services
@using Nano35.HttpContext.instance
@inject HttpClient HttpClient
@inject IRequestManager RequestManager
@inject ISessionProvider SessionProvider

<EditForm Model="@Model"
          OnSubmit="Create">
    <ValidationSummary/>
    @if (!_isLoaded)
    {
        <div class="d-flex justify-content-center" style="margin-top: 5rem; margin-bottom: 5rem">
            <div class="spinner-border text-primary" role="status">
                <span class="visually-hidden"></span>
            </div>
        </div>
    }
    else
    {
        <InputField Title="Подразделение*">
            <Controls>
                <RadzenDropDown Data=@(_units.Select(a => new {a.Id, Name = $"{a.Name} - {a.Address}"}))
                                TextProperty="Name"
                                ValueProperty="Id"
                                TValue="Guid"
                                @bind-Value="Model.UnitId"
                                Style="width: 100%;"
                                Placeholder="Выберите целевое подразделение..."
                                FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                FilterOperator="StringFilterOperator.Contains"
                                AllowFiltering="true"/>
            </Controls>
        </InputField>

        <InputField Title="Продаваемые товары">
            <Controls>
                <RadzenGrid Data=@(_details)
                            EmptyText="Добавте продаваемые товары..."
                            TItem="CreateSelleDetailViewModel">
                    <Columns>
                        <RadzenGridColumn TItem="CreateSelleDetailViewModel"
                                          Property="PlaceOnStorage"
                                          Title="Товар"/>
                        <RadzenGridColumn TItem="CreateSelleDetailViewModel"
                                          Property="PlaceOnStorage"
                                          Title="Место на складе"/>
                        <RadzenGridColumn TItem="CreateSelleDetailViewModel"
                                          Property="Count"
                                          Title="Количество"/>
                        <RadzenGridColumn TItem="CreateSelleDetailViewModel"
                                          Property="Price"
                                          Title="Цена"/>
                        <RadzenGridColumn TItem="CreateSelleDetailViewModel"
                                          Bubble="false"
                                          TextAlign="TextAlign.Center"
                                          Width="70px">
                            <Template Context="item">
                                <RadzenButton Click=@(_ => DeleteDetail(item))
                                              ButtonStyle="ButtonStyle.Danger"
                                              Icon="close"
                                              Size="ButtonSize.Small">
                                </RadzenButton>
                            </Template>
                        </RadzenGridColumn>
                    </Columns>
                </RadzenGrid>
                <RadzenButton Click=@(_ => OpenAddDetail())
                              Text="Добавить"
                              ButtonStyle="ButtonStyle.Secondary"
                              style="width: 100%"/>
            </Controls>
        </InputField>
    }
    @if (!string.IsNullOrEmpty(Error))
    {
        <div class="alert alert-danger mt-3 mb-0">@Error</div>
    }

    <RadzenButton type="submit"
                  Text="Создать"
                  ButtonStyle="ButtonStyle.Primary"
                  Style="width: 100%"/>
</EditForm>

@code
{
    [CascadingParameter] public IModalService Modal { get; set; }
    [CascadingParameter] BlazoredModalInstance ModalInstance { get; set; }
    [Parameter] public EventCallback FormSubmitted { get; set; }
    [Parameter] public CreateSelleHttpBody Model { get; set; }
    [Parameter] public string Error { get; set; }
    
    private List<CreateSelleDetailViewModel> _details = new();
    private List<UnitViewModel> _units = new();
    private bool _isLoaded;
    private int Count;
    
    protected override async Task OnInitializedAsync()
    {
        _isLoaded = false;
        _units = await LoadUnits();
        Model.UnitId = await SessionProvider.GetCurrentUnitId();
        _isLoaded = true;
    }

    private async Task OpenAddClient()
    {
        var moviesModal = Modal.Show<ClientsCreate>("Новый клиент");
        await moviesModal.Result;
        _isLoaded = false;
        _isLoaded = true;
    }
    
    private async Task OpenAddDetail()
    {
        var modal = Modal.Show<SellesDetailForm>("Новая деталь продажи");
        var result = await modal.Result;

        if (result.Data is CreateSelleDetailViewModel success)
        {
            _details.Add(success);  
        }
    }
    
    private async Task DeleteDetail(CreateSelleDetailViewModel item)
    {
        Console.WriteLine("Detail deleted");
        _details.Remove(item);
        StateHasChanged();
    }
    
    private async Task Create()
        {
            Model.Details = _details.Select(a => 
                new CreateSelleDetailViewModel() { NewId = a.NewId, Count = a.Count, Price = a.Price, PlaceOnStorage = a.PlaceOnStorage, StorageItemId = a.StorageItemId}).ToList();
            await FormSubmitted.InvokeAsync();
            await ModalInstance.CloseAsync();
        }
    private async Task<List<UnitViewModel>> LoadUnits() =>
        (await new GetAllUnitsRequest(RequestManager, HttpClient, new GetAllUnitsHttpQuery() {InstanceId = await SessionProvider.GetCurrentInstanceId()}).Send()).Units.ToList();

}
