@using Microsoft.AspNetCore.Authorization
@using Nano35.WebClient.Services
@using Append.Blazor.Printing
@using Nano35.Contexts.Http.storage
@attribute [Authorize]
@layout InstanceLayout
@page "/instance/storage/sells"
@inject RequestManager RequestManager
@inject ISessionProvider SessionProvider
@inject HttpClient HttpClient
@inject IPrintingService PrintingService
@inject NotificationService NotificationService
@inject HealthService HealthService
@inject NavigationManager NavigationManager
@inject HttpGet GetRequest


@if (_loading)
{
    <div class="d-flex justify-content-center" style="margin-top: 5rem; margin-bottom: 5rem">
      <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden"></span>
      </div>
    </div>
}
else
{
    <RadzenHeading Text="Продажи"/>
    
    <RadzenButton Click=@(_ => NewSelle()) 
                  Text="Создать"
                  Style="margin: 1rem 0;"
                  ButtonStyle="ButtonStyle.Primary"/>
    
    <RadzenGrid AllowFiltering="true" 
                FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                FilterMode="FilterMode.Advanced" 
                AllowPaging="true"
                PageSize="10"
                AllowSorting="true" 
                Data=@(_data)
                TItem="SelleViewModel">
        <Columns>
            <RadzenGridColumn TItem="SelleViewModel"
                              Property="Number" 
                              Width="100px"
                              Title="Номер" />
            <RadzenGridColumn TItem="SelleViewModel"
                              Sortable="false"
                              Title="Дата">
                <Template Context="item">
                    @item.Date.ToString("dd-MM-yyyy hh:mm")
                </Template>
            </RadzenGridColumn>
            <RadzenGridColumn TItem="SelleViewModel" 
                              Property="Unit" 
                              Title="Подразделение" />
            <RadzenGridColumn TItem="SelleViewModel"
                              Property="Date" 
                              Title="Клиент" />
            <RadzenGridColumn TItem="SelleViewModel"
                              Property="Cash"
                              Title="Цена" />
            <RadzenGridColumn TItem="SelleViewModel" 
                              Filterable="false"
                              Sortable="false"
                              Width="200px">
                <Template Context="item">
                    <RadzenButton Click=@(_ => { }) 
                                  Text="Информация"
                                  Size="ButtonSize.Small"
                                  Style="margin: 1rem 0;"
                                  ButtonStyle="ButtonStyle.Secondary"/>
                    <RadzenButton Click=@(_ => PrintSaleAsync(item.Id))
                                  Text="Этикетка"
                                  Size="ButtonSize.Small"
                                  Style="margin: 1rem 0;"
                                  ButtonStyle="ButtonStyle.Secondary"/>
                </Template>
            </RadzenGridColumn>
        </Columns>
    </RadzenGrid>
}

@code
{
    private IEnumerable<SelleViewModel> _data;
    private bool _loading = true;
    [CascadingParameter] public IModalService Modal { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await GetRequest.InvokeAsync<GetAllSellsSuccessHttpResponse>($"Sells?InstanceId={await SessionProvider.GetCurrentInstanceId()}",
            resp =>
            {
                if (resp.IsSuccess()) {_data = resp.Success.Data;}
                else
                {
                    Console.WriteLine(resp.Error);
                    NavigationManager.NavigateTo("/instance-view");
                }
            });
        _loading = false;
    }

    private async Task NewSelle()
    {
        var modal = Modal.Show<SellesCreateForm>("Новая продажа");
        await modal.Result;
        _loading = true;
        await GetRequest.InvokeAsync<GetAllSellsSuccessHttpResponse>($"Sells?InstanceId={await SessionProvider.GetCurrentInstanceId()}",
            resp =>
            {
                if (resp.IsSuccess()) {_data = resp.Success.Data;}
                else
                {
                    Console.WriteLine(resp.Error);
                    NavigationManager.NavigateTo("/instance-view");
                }
            });
        _loading = false;
    }

    private async Task PrintSaleAsync(Guid saleId)
    {
        await PrintingService.Print($"https://192.168.100.125/docs/StorageItems/SelleDocument/{saleId}");
    }
}
