@using Microsoft.AspNetCore.Authorization
@using Nano35.HttpContext.storage
@using Nano35.WebClient.Services
@using Nano35.WebClient.Helpers
@using Append.Blazor.Printing
@attribute [Authorize]
@layout InstanceLayout
@page "/instance/storage/warehouse"
@inject HttpClient HttpClient
@inject IRequestManager RequestManager
@inject ISessionProvider SessionProvider
@inject IAuthService AuthService
@inject IPrintingService PrintingService

<LoadingContent IsLoaded="_isLoaded">
    <RadzenHeading Text="Наличие"/>
    <RadzenGrid AllowFiltering="true"
                FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                FilterMode="FilterMode.Advanced"
                EmptyText="Нет изделий на складе."
                AllowPaging="true"
                PageSize="10"
                AllowSorting="true"
                Data="@_data"
                TItem="StorageItemOnUnitViewModel">
        <Template Context="item">
            @if (item.Item.Images.Count == 0)
            {
                <span>Нет изображений</span>
            }
            else
            {
                <RadzenSteps>
                    <Steps>
                    @foreach (var image in item.Item.Images.Select((value, i) => new { i, value }))
                    {
                        
                        <RadzenStepsItem>
                            <img src="http://192.168.100.124:5000/StorageItems/@image.value" alt="Не удалось загрузить изображение" style="width: 100%"/>
                        </RadzenStepsItem>
                    }
                    </Steps>
                </RadzenSteps>
            }
        </Template>
        <Columns>
            <RadzenGridColumn TItem="StorageItemOnUnitViewModel"
                              Property="Item.Name"
                              Sortable="false"
                              Title="Изделие"/>
            <RadzenGridColumn TItem="StorageItemOnUnitViewModel"
                              Filterable="false"
                              Sortable="false"
                              Width="130px"
                              Title="Цена продажи">
                <Template Context="item">
                    @item.Item.RetailPrice руб.
                </Template>
            </RadzenGridColumn>
            <RadzenGridColumn TItem="StorageItemOnUnitViewModel"
                              Filterable="false"
                              Sortable="false"
                              Width="130px"
                              Title="Закуп. стоимость">
                <Template Context="item">
                    @item.Item.PurchasePrice руб.
                </Template>
            </RadzenGridColumn>
            <RadzenGridColumn TItem="StorageItemOnUnitViewModel"
                              Filterable="false"
                              Sortable="false"
                              Width="100px"
                              Title="Наличие">
                <Template Context="item">
                    @item.Count шт.
                </Template>
            </RadzenGridColumn>
            <RadzenGridColumn TItem="StorageItemOnUnitViewModel"
                              Context="coming"
                              Bubble="false"
                              Sortable="false"
                              Filterable="false"
                              Width="200px"
                              TextAlign="TextAlign.Center">
                <Template Context="item">
                    @if (_roles.Contains(RolesHelper.Manager) || _roles.Contains(RolesHelper.Admin))
                    {
                        <RadzenButton Click=@(_ => OpenStorageItem(item))
                                      Text="Изменить"
                                      Size="ButtonSize.Small"
                                      Style="margin: 1rem 0;"
                                      ButtonStyle="ButtonStyle.Secondary"/>
                    }
                    <RadzenButton Click=@(_ => PrintTicketAsync(item.Item.Id))
                                  Text="Этикетка"
                                  Size="ButtonSize.Small"
                                  Style="margin: 1rem 0;"
                                  ButtonStyle="ButtonStyle.Secondary"/>
                </Template>

            </RadzenGridColumn>
        </Columns>
    </RadzenGrid>
</LoadingContent>

@code
{
    [CascadingParameter] BlazoredModalInstance ModalInstance { get; set; }
    [CascadingParameter] public IModalService Modal { get; set; }
    private IEnumerable<StorageItemOnUnitViewModel> _data;
    private List<Guid> _roles = new();
    private bool _isLoaded;

    protected override async Task OnInitializedAsync()
    {        
        _isLoaded = false;
        _roles = await AuthService.GetCurrentRoles();
        _data = (await new HttpGetRequest<GetAllStorageItemsOnUnitSuccessHttpResponse>(HttpClient, $"{RequestManager.StorageServer}/Warehouse/StorageItemsOnUnit?UnitId={await SessionProvider.GetCurrentUnitId()}").GetAsync()).Contains;
        _isLoaded = true;
    }

    private async Task OpenStorageItem(StorageItemOnUnitViewModel value)
    {
        var parameters = new ModalParameters();
        parameters.Add(nameof(StorageItemsDetails.Item), value);
        var modal = Modal.Show<StorageItemsDetails>($"{value.Item.Name}", parameters);
        await modal.Result;
        _isLoaded = false;
        _data = (await new HttpGetRequest<GetAllStorageItemsOnUnitSuccessHttpResponse>(HttpClient, $"{RequestManager.StorageServer}/Warehouse/StorageItemsOnUnit?UnitId={await SessionProvider.GetCurrentUnitId()}").GetAsync()).Contains;
        _isLoaded = true;
    }

    private async Task PrintTicketAsync(Guid itemId)
    {
        await PrintingService.Print($"https://192.168.100.125/docs/StorageItems/StorageItemTicket/{itemId}");
    }
}
