@using Nano35.HttpContext.storage
@using Nano35.WebClient.Services
@inject IRequestManager RequestManager
@inject ISessionProvider SessionProvider 
@inject HttpClient HttpClient 

<div style="width: 40rem;">
    <StorageItemsForm FormSubmitted="Submit"
                     Model="_model" 
                     Error="@Error"/>
</div>

@code
{
    private CreateStorageItemHttpBody _model = new();
    private string Error { get; set; } = "";
    
    private async Task Submit()
    {
        try
        {
            await new HttpPostRequest<CreateStorageItemHttpBody,CreateStorageItemSuccessHttpResponse>(HttpClient, $"{RequestManager.StorageServer}/StorageItems").PostAsync(_model);

        }
        catch (Exception e)
        {
            Error = e.Message;
        }
    }
    
    protected override async Task OnInitializedAsync()
    {
        _model = new CreateStorageItemHttpBody
        {
            InstanceId = await SessionProvider.GetCurrentInstanceId(),
            NewId = Guid.NewGuid()
        };
    }
}
