@using Microsoft.AspNetCore.Authorization
@using Nano35.HttpContext.storage
@using Nano35.WebClient.Services
@using System.Web.Razor.Parser.SyntaxTree
@attribute [Authorize]
@layout InstanceLayout
@page "/instance/storage/warehouse"
@inject HttpClient HttpClient
@inject IRequestManager RequestManager
@inject ISessionProvider SessionProvider

@if (_loading)
{
    <div class="d-flex justify-content-center" style="margin-top: 5rem; margin-bottom: 5rem">
        <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden"></span>
        </div>
    </div>
}
else
{
    <RadzenHeading Text="Наличие"/>
    
    <RadzenGrid AllowFiltering="true"
                FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                FilterMode="FilterMode.Advanced"
                AllowPaging="true"
                PageSize="10"
                AllowSorting="true"
                Data="@_data"
                TItem="StorageItemOnInstanceViewModel">
        <Template Context="item">
            @if (item.Item.Images.Count == 0)
            {
                <span>Нет изображений</span>
            }
            else
            {
                <RadzenSteps>
                    <Steps>
                    @foreach (var image in item.Item.Images.Select((value, i) => new { i, value }))
                    {
                        
                        <RadzenStepsItem>
                            <img src="http://192.168.100.124:5000/StorageItems/@image.value" alt="Не удалось загрузить изображение" style="width: 100%"/>
                        </RadzenStepsItem>
                    }
                    </Steps>
                </RadzenSteps>
            }
        </Template>
        <Columns>
            <RadzenGridColumn TItem="StorageItemOnInstanceViewModel"
                              Property="Item.Name"
                              Sortable="false"
                              Title="Изделие"/>
            <RadzenGridColumn TItem="StorageItemOnInstanceViewModel"
                              Filterable="false"
                              Sortable="false"
                              Width="130px"
                              Title="Цена продажи">
                <Template Context="item">
                    @item.Item.RetailPrice руб.
                </Template>
            </RadzenGridColumn>
            <RadzenGridColumn TItem="StorageItemOnInstanceViewModel"
                              Filterable="false"
                              Sortable="false"
                              Width="130px"
                              Title="Закуп. стоимость">
                <Template Context="item">
                    @item.Item.PurchasePrice руб.
                </Template>
            </RadzenGridColumn>
            <RadzenGridColumn TItem="StorageItemOnInstanceViewModel"
                              Filterable="false"
                              Sortable="false"
                              Width="100px"
                              Title="Наличие">
                <Template Context="item">
                    @item.Count шт.
                </Template>
            </RadzenGridColumn>
            <RadzenGridColumn TItem="StorageItemOnInstanceViewModel"
                              Context="coming"
                              Bubble="false"
                              Sortable="false"
                              Filterable="false"
                              Width="250px"
                              TextAlign="TextAlign.Center">
                <Template Context="item">
                    <a href="http://192.168.100.210:30006/StorageItems/Ticket?storageItemId=@item.Item.Id" target="_blank">Этикетка</a>
                </Template>
            </RadzenGridColumn>
        </Columns>
    </RadzenGrid>
}

@code
{
    [CascadingParameter] BlazoredModalInstance ModalInstance { get; set; }
    [CascadingParameter] public IModalService Modal { get; set; }
    private IEnumerable<StorageItemOnInstanceViewModel> _data;
    private bool _loading = true;

    protected override async Task OnInitializedAsync()
    {        
        _data = (await (new GetAllStorageItemsOnInstanceRequest(
            RequestManager,
            HttpClient, 
            new GetAllStorageItemsOnInstanceHttpQuery() 
            { InstanceId = await SessionProvider.GetCurrentInstanceId()})).Send()).Contains;
        _loading = false;
    }

    private async Task Cancellate()
    {
        Modal.Show<CancellationsCreate>("Новое списание");
    }

    private async Task Sell()
    {
        Modal.Show<SellesCreate>("Новая продажа");
    }
}
