@using Microsoft.AspNetCore.Authorization
@using Nano35.HttpContext.storage
@using Nano35.WebClient.Services
@using StorageItemOnInstanceViewModel = Nano35.Contracts.Storage.Models.StorageItemOnInstanceViewModel
@attribute [Authorize]
@layout InstanceLayout
@page "/instance/storage"
@inject HttpClient HttpClient
@inject IRequestManager RequestManager
@inject IComingsService ComingsService
@inject ISessionProvider SessionProvider

@if (_loading)
{
    <div class="d-flex justify-content-center" style="margin-top: 5rem; margin-bottom: 5rem">
        <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden"></span>
        </div>
    </div>
}
else
{
    <RadzenHeading Text="Наличие"/>
    
    <RadzenGrid AllowFiltering="true" 
                FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                FilterMode="FilterMode.Advanced" 
                AllowPaging="true"
                PageSize="10"
                AllowSorting="true" 
                Data="@_data"
                TItem="StorageItemOnInstanceViewModel">
        <Columns>
            <RadzenGridColumn TItem="StorageItemOnInstanceViewModel" Property="Item.Name" Title="Изделие"/>
            <RadzenGridColumn TItem="StorageItemOnInstanceViewModel" Property="Item.RetailPrice" Title="Цена продажи" />
            <RadzenGridColumn TItem="StorageItemOnInstanceViewModel" Property="Item.PurchasePrice" Title="Закупочная стоимость" />
            <RadzenGridColumn TItem="StorageItemOnInstanceViewModel" Property="Count" Title="Количество" />
        </Columns>
    </RadzenGrid>
}

@code
{
    private IEnumerable<StorageItemOnInstanceViewModel> _data;
    private bool _loading = true;

    protected override async Task OnInitializedAsync()
    {        
        _data = (await (new GetAllStorageItemsOnInstanceRequest(
            RequestManager,
            HttpClient, 
            new GetAllStorageItemsOnInstanceHttpQuery() 
            { InstanceId = await SessionProvider.GetCurrentInstanceId()})).Send()).Contains;
        _loading = false;
    }
    
}
