@using Microsoft.AspNetCore.Authorization
@using Nano35.WebClient.Services
@using Nano35.WebClient.Helpers
@using Append.Blazor.Printing
@using Nano35.Contexts.Http.storage
@attribute [Authorize]
@layout InstanceLayout
@page "/instance/storage/warehouse"
@inject HttpClient HttpClient
@inject RequestManager RequestManager
@inject ISessionProvider SessionProvider
@inject IAuthService AuthService
@inject IPrintingService PrintingService
@inject NotificationService NotificationService
@inject HealthService HealthService
@inject NavigationManager NavigationManager
@inject HttpGet GetRequest

<LoadingContent IsLoaded="_isLoaded">
    <RadzenHeading Text="Наличие"/>
    <RadzenGrid EmptyText="Нет изделий на складе."
                AllowPaging="true"
                PageSize="10"
                Data="@_data"
                TItem="StorageItemOnUnitViewModel">
        <Template Context="item">
            <ConditionalContent IsLoaded="item.Item.Images == null || item.Item.Images.Count == 0">
                <AllowedContent>
                    <span>Нет изображений</span>
                </AllowedContent>
                <RejectedContent>
                    <RadzenSteps>
                        <Steps>
                            @foreach (var image in item.Item.Images.Select((value, i) => new {i, S = $"https://nano35.ru/api/files/StorageItems/{value}"}))
                            {
                                <RadzenStepsItem>
                                    <RadzenCard Style="width: 35rem;height: 35rem">
                                        <WheelZoom Image=@image.S height="100%"  alt="Не удалось загрузить изображение"/>
                                    </RadzenCard>
                                </RadzenStepsItem>
                            }
                        </Steps>
                    </RadzenSteps>
                </RejectedContent>
            </ConditionalContent>
        </Template>
        <Columns>
            <RadzenGridColumn TItem="StorageItemOnUnitViewModel" Property="Item.Name" Title="Изделие"/>
            <RadzenGridColumn TItem="StorageItemOnUnitViewModel" Width="140px" Title="Цена продажи">
                <Template Context="item">@item.Item.RetailPrice руб.</Template>
            </RadzenGridColumn>
            <RadzenGridColumn TItem="StorageItemOnUnitViewModel" Width="140px" Title="Закуп. стоимость">
                <Template Context="item">@item.Item.PurchasePrice руб.</Template>
            </RadzenGridColumn>
            <RadzenGridColumn TItem="StorageItemOnUnitViewModel" Width="100px" Title="Наличие">
                <Template Context="item">@item.Count шт.</Template>
            </RadzenGridColumn>
            <RadzenGridColumn TItem="StorageItemOnUnitViewModel" Context="coming" Bubble="false" Width="400px" TextAlign="TextAlign.Center">
                <Template Context="item">
                    @if (_roles.Contains(RolesHelper.Manager) || _roles.Contains(RolesHelper.Admin))
                    {
                        <RadzenButton Click=@(_ => OpenStorageItem(item)) Text="Изменить" ButtonStyle="ButtonStyle.Secondary"/>
                    }
                    <RadzenButton Click=@(_ => PrintTicketAsync(item.Item.Id)) Text="Этикетка" ButtonStyle="ButtonStyle.Secondary"/>
                </Template>
            </RadzenGridColumn>
        </Columns>
    </RadzenGrid>
    <RadzenTree style="width: 100%" Change=@Filter >
        @foreach (var item in _categories)
        {
            <TreeNode Item=@item></TreeNode>
        }
    </RadzenTree>
</LoadingContent>

@code
{
    
    // <img src="https://nano35.ru/api/files/StorageItems/@image.value" alt="Не удалось загрузить изображение" style="height: 100%"/>
    // <RadzenTreeLevel TextProperty="Name" ChildrenProperty="Categories"  HasChildren=@(e => (e as CategoryViewModel).Categories.Any()) />
    [CascadingParameter] BlazoredModalInstance ModalInstance { get; set; }
    [CascadingParameter] public IModalService Modal { get; set; }
    private IEnumerable<StorageItemOnUnitViewModel> _data;
    private List<Guid> _roles = new();
    private List<CategoryViewModel> _categories = new();
    
    private bool _isLoaded;
    

    protected override async Task OnInitializedAsync()
    {        
        _isLoaded = false;
        _roles = await AuthService.GetCurrentRoles();
        await GetRequest.InvokeAsync<GetAllStorageItemsOnUnitSuccessHttpResponse>(
            $"Warehouse/StorageItemsOnUnit?UnitId={await SessionProvider.GetCurrentUnitId()}",
            resp => {if (resp.IsSuccess()){_data = resp.Success.Contains;} else{NavigationManager.NavigateTo("/instance-view");}});
        await GetRequest.InvokeAsync<GetCategoryTreeByRootHttpResponse>(
            $"Category/TreeByRoot",
            resp => {if (resp.IsSuccess()){_categories.Add(resp.Success.Data);}else{NavigationManager.NavigateTo("/instance-view");}});
        _isLoaded = true;
    }

    private async Task OpenStorageItem(StorageItemOnUnitViewModel value)
    {
        var parameters = new ModalParameters();
        parameters.Add(nameof(StorageItemsDetails.Item), value);
        var modal = Modal.Show<StorageItemsDetails>($"{value.Item.Name}", parameters);
        await modal.Result;
        _isLoaded = false;
        await GetRequest.InvokeAsync<GetAllStorageItemsOnUnitSuccessHttpResponse>($"Warehouse/StorageItemsOnUnit?UnitId={await SessionProvider.GetCurrentUnitId()}",
            resp => {if (resp.IsSuccess()){_data = resp.Success.Contains;}else{NavigationManager.NavigateTo("/instance-view");}});
        _isLoaded = true;
    }

    private async Task PrintTicketAsync(Guid itemId)
    {
        await PrintingService.Print($"https://nano35.ru/api/docs/StorageItems/StorageItemTicket/{itemId}");
    }

    private async Task Filter(TreeEventArgs args)
    {
        Console.WriteLine(args.Value);
        await GetRequest.InvokeAsync<GetAllStorageItemsOnUnitSuccessHttpResponse>(
            $"Warehouse/StorageItemsOnUnit?UnitId={await SessionProvider.GetCurrentUnitId()}&CategoryId={args.Value}",
            resp => {if (resp.IsSuccess()){_data = resp.Success.Contains;} else{NavigationManager.NavigateTo("/instance-view");}});
        
        StateHasChanged();
    }
}
