@page "/subdivisions"

<AuthorizeView>
    <div class="page">
        <div class="sidebar">
            <NavMenu/>
        </div>
        <div class="main">
            <h3>Subdivisions</h3>
        </div>
    </div>
    
</AuthorizeView>