@using Microsoft.AspNetCore.Authorization
@using Nano35.HttpContext.instance
@attribute [Authorize]
@layout InstanceLayout
@page "/instance/units"

@if (_loading)
{
    <div class="col-md-6 offset-md-3 mt-5">
        <div class="card">
            <h4 class="card-header">Загрузка</h4>
            <div class="card-body">
                ...
            </div>
        </div>
    </div>
}
else
{
    @if (!_serverAvailable)
    {
        <h4 class="card-header">Сервер недоступен</h4>
        <div class="card-body">
            Повторите попытку позднее
        </div>
    }
    else
    {
        <RadzenButton Click=@(args => { _isNewUnitDisplay = true; }) 
                      Text="Создать"
                      ButtonStyle="ButtonStyle.Secondary"
                      Style="width: 100%" />
        <Modal Title="Новое подразделение" 
               IsDisplay="@_isNewUnitDisplay">
            <Form>
                <UnitForm/>  
            </Form>
        </Modal>
        <RadzenGrid Data="@_data"
                    EmptyText="Добавте оприходуемые товары..."
                    TItem="UnitViewModel">
            <Columns>
                <RadzenGridColumn TItem="UnitViewModel"
                                  Property="Name" 
                                  Title="Название" />
                <RadzenGridColumn TItem="UnitViewModel" 
                                  Property="Adress" 
                                  Title="Адресс" />
                <RadzenGridColumn TItem="UnitViewModel"
                                  Property="Phone"
                                  Title="Телефон" />
                <RadzenGridColumn TItem="UnitViewModel"
                                  Property="WorkingFormat" 
                                  Title="Формат работы" />
            </Columns>
        </RadzenGrid>
    }
}