@using Nano35.WebClient.Services
@using Nano35.Contracts.Instance.Models
@using Nano35.HttpContext.instance
@inject IRequestManager RequestManager
@inject ISessionProvider SessionProvider
@inject NavigationManager NavigationManager
@inject HttpGet GetRequest


<LoadingContent IsLoaded="_isLoaded">
    <h3>Текущее подразделение: @(Unit.Name)</h3>
    <h3>Аддресс: @(Unit.Address)</h3>
    <h3>График работы: @(Unit.WorkingFormat)</h3>
    <h3>В кассе: @(Unit.Cashbox) руб.</h3>
</LoadingContent>

@code {
    private UnitViewModel Unit { get; set; }
    private bool _isLoaded;

    protected override async Task OnInitializedAsync()
    {
        _isLoaded = false;
        
        await GetRequest.InvokeAsync<GetUnitByIdHttpResponse>(
            RequestManager.InstanceServer, $"Units/{await SessionProvider.GetCurrentUnitId()}",
            resp =>
            {
                if (resp.IsSuccess())
                {
                    Unit = resp.Success.Data;
                }
                else
                {
                    Console.WriteLine(resp.Error);
                    NavigationManager.NavigateTo("/instance-view");
                }
            });
        
        _isLoaded = true;
    }
}