@using Microsoft.AspNetCore.Authorization
@using Nano35.HttpContext.instance
@using Nano35.WebClient.Services
@attribute [Authorize]
@layout InstanceLayout
@inject NavigationManager NavigationManager;
@inject IRequestManager RequestManager;
@inject IInstanceService InstanceService;
@inject IUnitService UnitService;
@inject ISessionProvider SessionProvider;
@page "/instance/units"

@if (_loading)
{
    <div class="col-md-6 offset-md-3 mt-5">
        <div class="card">
            <h4 class="card-header">Загрузка</h4>
            <div class="card-body">
                ...
            </div>
        </div>
    </div>
}
else
{
    <RadzenHeading Text="Подразделения"/>
    
    <RadzenButton Click=@(_ => NewUnit()) 
                  Text="Создать"
                  Style="margin: 1rem 0;"
                  ButtonStyle="ButtonStyle.Primary"/>
        
    <RadzenGrid Data="@_data"
                EmptyText="Добавте оприходуемые товары..."
                TItem="UnitViewModel">
        <Columns>
            <RadzenGridColumn TItem="UnitViewModel"
                              Property="Name" 
                              Title="Название" />
            <RadzenGridColumn TItem="UnitViewModel" 
                              Property="Adress" 
                              Title="Адресс" />
            <RadzenGridColumn TItem="UnitViewModel"
                              Property="Phone"
                              Title="Телефон" />
            <RadzenGridColumn TItem="UnitViewModel"
                              Property="WorkingFormat" 
                              Title="Формат работы" />
        </Columns>
    </RadzenGrid>
}

@code
{
    private IEnumerable<UnitViewModel> _data;
    private bool _loading = true;
    [CascadingParameter] public IModalService Modal { get; set; }
    [CascadingParameter] BlazoredModalInstance ModalInstance { get; set; }
    
    protected override async Task OnInitializedAsync()
    {
        _data = (await UnitService.GetAllUnit(InstanceService.GetCurrentInstance().Id)).Data;
        _loading = false;
    }
    
    private async Task NewUnit()
    {
        var modal = Modal.Show<CreateUnit>("Новое подразделение");
        await modal.Result;
        _data = (await UnitService.GetAllUnit(InstanceService.GetCurrentInstance().Id)).Data;
    }
}
