@using Nano35.WebClient.Services
@using Nano35.HttpContext.storage
@using Nano35.HttpContext.Repair
@inject HttpClient HttpClient
@inject IRequestManager RequestManager
@inject ISessionProvider SessionProvider

@if (!_isLoaded)
{
    <div class="d-flex justify-content-center" style="margin-top: 5rem; margin-bottom: 5rem">
        <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden"></span>
        </div>
    </div>
}
else
{
    <EditForm Model="_model" OnSubmit="HandleValidSubmit">
        <DataAnnotationsValidator/>
        <InputField Title="Товар">
            <Controls>
                <RadzenDropDown Data=@(StateTypes.Select(a => new {Id = a.Item1, Name = a.Item2}))
                                TextProperty="Name"
                                ValueProperty="Id"
                                TValue="int"
                                @bind-Value="@_model.TypeId"
                                Style="width: 100%;"
                                Placeholder="..."
                                FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                FilterOperator="StringFilterOperator.Contains"
                                AllowFiltering="true"/>
            </Controls>
            <Validation>
                <ValidationMessage For="@(() => _model.TypeId)" />
            </Validation>
        </InputField>
        <InputField Title="Комментарий">
            <Controls>
                <RadzenTextBox Style="width: 100%;" 
                               Placeholder="..."
                               @bind-Value="@_model.Comment"/>
            </Controls>
            <Validation>
                <ValidationMessage For="@(() => _model.Comment)" />
            </Validation>
        </InputField>
        <RadzenButton type="submit"
                      Text="Создать"
                      ButtonStyle="ButtonStyle.Primary"
                      Style="width: 100%" />
    </EditForm>
}

@code
{
    [CascadingParameter] BlazoredModalInstance ModalInstance { get; set; }
    [Parameter] public Guid RepairOrderId { get; set; }
    private bool _isLoaded;
    private CreateRepairOrderStateBody _model;
    private List<Tuple<int, string>> StateTypes { get; set; } = new List<Tuple<int, string>>();
    
    protected override async Task OnInitializedAsync()
    {
        _model = new CreateRepairOrderStateBody
        {
            NewId = Guid.NewGuid(),
            RepairOrderId = RepairOrderId
        };
        
        StateTypes.Add(new Tuple<int, string>(0, "Новый"));
        StateTypes.Add(new Tuple<int, string>(1, "В работе"));
        StateTypes.Add(new Tuple<int, string>(2, "Завершен"));
        StateTypes.Add(new Tuple<int, string>(3, "Приостановлен"));
        StateTypes.Add(new Tuple<int, string>(4, "Ожиждает запчасти"));
        _isLoaded = true;
    }

    private async Task HandleValidSubmit()
    {
        var response = await HttpClient.PostAsJsonAsync($"http://localhost:5004/RepairOrder/CreateRepairOrderState", _model);
        if (response.IsSuccessStatusCode)
            await response.Content.ReadFromJsonAsync<CreateRepairOrderStateSuccessResponse>();
        else
            throw new Exception((await response.Content.ReadFromJsonAsync<CreateRepairOrderStateErrorResponse>())?.Error);
        await ModalInstance.CloseAsync();
    }
}