@attribute [Authorize]
@layout InstanceLayout
@page "/instance/works"
@using Microsoft.AspNetCore.Authorization
@using Nano35.WebClient.Services
@inject IRequestManager RequestManager
@inject IComingsService ComingsService
@inject ISessionProvider SessionProvider
@inject HttpClient HttpClient

<h3>Works</h3>

@code {
    
}