@attribute [Authorize]
@layout InstanceLayout
@page "/instance/repairs/story"
@using Microsoft.AspNetCore.Authorization
@using Nano35.WebClient.Services
@inject RequestManager RequestManager
@inject ISessionProvider SessionProvider
@inject HttpClient HttpClient

<h3>WorksStoryView</h3>

@code {
    
}