@using Nano35.Contracts.Cashbox.Artifacts
@using Nano35.Contracts.Cashbox.Models
@using Nano35.HttpContext.Cashbox
@using Nano35.WebClient.Services
@inject HttpClient HttpClient
@inject IRequestManager RequestManager
@inject ISessionProvider SessionProvider
@inject IAuthService AuthService


<div style="width: 40rem;">
    @if (_isLoaded)
    {
        
        <EditForm Model=@(Model) OnValidSubmit="HandleValidSubmit">
            <DataAnnotationsValidator />
            <RadzenGrid Data="@_operations"
                        EmptyText="Нет ожидаемых выплат"
                        TItem="RepairOrderOperationViewModel">
                <Columns>
                    <RadzenGridColumn TItem="RepairOrderOperationViewModel"
                                      Property="Id" 
                                      Title="Id" />
                
                    <RadzenGridColumn TItem="RepairOrderOperationViewModel"
                                      Property="Date" 
                                      Title="Date" />
                
                    <RadzenGridColumn TItem="RepairOrderOperationViewModel"
                                      Property="Number" 
                                      Title="Number" />
                </Columns>
            </RadzenGrid>
        </EditForm>
    }
    else
    {
        <p>Загрузка...</p>
    }
</div>

@code {
    [Parameter] public CreateWageOperationHttpBody Model { get; set; }
    [Parameter] public EventCallback FormSubmitted { get; set; }
    [Parameter] public string Error { get; set; }
    [CascadingParameter] public IModalService Modal { get; set; }
    private List<RepairOrderOperationViewModel> _operations = new();
    private bool _isLoaded;
    
    protected override async Task OnInitializedAsync()
    {
        _isLoaded = false;
        _operations = (await new GetAllRepairOrderCashOperations(RequestManager, HttpClient, new GetAllRepairOrderOperationsQuery() {PerformerId = Model.WorkerId, UnitId = await SessionProvider.GetCurrentUnitId()}).Send()).Operations;
        _isLoaded = true;
    }

    private async Task HandleValidSubmit()
    {
        await FormSubmitted.InvokeAsync();
    }
}