@using Nano35.Contracts.Cashbox.Artifacts
@using Nano35.Contracts.Cashbox.Models
@using Nano35.WebClient.Services
@using Nano35.Contexts.Http.Cashbox
@inject HttpClient HttpClient
@inject RequestManager RequestManager
@inject ISessionProvider SessionProvider
@inject IAuthService AuthService
@inject HealthService HealthService
@inject NavigationManager NavigationManager
@inject HttpGet GetRequest
@inject HttpPost PostRequest


<BoxedContent Width="40">
    <LoadingContent IsLoaded="_isLoaded">
        <RadzenFieldset Text="Ожидаемые выплаты" Style="width: 100%;">
            <EditForm Model=@(Model) >
                <DataAnnotationsValidator />
                <RadzenGrid Data="@_operations" EmptyText="Нет ожидаемых выплат" TItem="WageOfRepairOrderViewModel">
                    <Columns>
                        <RadzenGridColumn TItem="WageOfRepairOrderViewModel" Title="Дата">
                            <Template Context="item">
                                @item.Date.ToString("d")
                            </Template>
                        </RadzenGridColumn>
                        
                        <RadzenGridColumn TItem="WageOfRepairOrderViewModel" Title="К выплате">
                            <Template Context="item">
                                @item.Cash руб.
                            </Template>
                        </RadzenGridColumn>
                        <RadzenGridColumn TItem="WageOfRepairOrderViewModel" >
                            <Template Context="item">
                                <radzenbutton text="Выплатить" click="HandleValidSubmit"/>
                            </Template>
                        </RadzenGridColumn>
                    </Columns>
                </RadzenGrid>
            </EditForm>
        </RadzenFieldset>
        <RadzenFieldset Text="Сумма к выплате"
                        Style="width: 100%;">
            <div style="text-align: center">
                @_operations.Sum(e => e.Cash) руб.
            </div>
        </RadzenFieldset>
        <RadzenButton Click=@(_ => { }) Text="Выплатить из кассы" ButtonStyle="ButtonStyle.Primary" style="width: 100%; margin-top: 1rem"/>
    </LoadingContent>
</BoxedContent>

@code {

    [Parameter] public CreateWageOfRepairOrderCashOperationRequestContract Model { get; set; } = new();
    [Parameter] public EventCallback FormSubmitted { get; set; }
    [Parameter] public string Error { get; set; }
    [Parameter] public Guid UserId { get; set; }
    [CascadingParameter] public IModalService Modal { get; set; }
    [CascadingParameter] BlazoredModalInstance ModalInstance { get; set; }
    private List<WageOfRepairOrderViewModel> _operations = new();
    private bool _isLoaded;
    
    protected override async Task OnInitializedAsync()
    {
        _isLoaded = false;
        
        Model.NewId = Guid.NewGuid();
        await GetRequest.InvokeAsync<AllWagesOfRepairOrdersHttpResponse>($"cashbox/Cashbox/AllWageOfRepairOrders?UnitId ={await SessionProvider.GetCurrentUnitId()}&WorkerId={UserId}&isWageConfirmed={OperationState.Created}",
            resp =>
            {
                if (resp.IsSuccess()) {_operations = resp.Success.Operations;}
                else
                {
                    Console.WriteLine(resp.Error);
                    NavigationManager.NavigateTo("/instance-view");
                }
            });
        _isLoaded = true;
    }

    private async Task HandleValidSubmit(Guid it)
    {
        
        try
        {
            await GetRequest.InvokeAsync<ChangeOperationStateHttpResponse>($"cashbox/Cashbox/ChangeOperationState?operationId={it}&state=1",
                resp =>
                {
                    if (resp.IsSuccess()) {}
                    else
                    {
                        Console.WriteLine(resp.Error);
                        NavigationManager.NavigateTo("/instance-view");
                    }
                });
            await ModalInstance.CloseAsync();
        }
        catch (Exception e)
        {
            Error = e.Message;
        }
        
    }
}