@using Microsoft.AspNetCore.Authorization
@using Nano35.HttpContext.instance
@using Nano35.WebClient.Services
@attribute [Authorize]
@layout InstanceLayout
@inject NavigationManager NavigationManager;
@inject IInstanceService InstanceService;
@inject IRequestManager RequestManager
@inject ISessionProvider SessionProvider
@inject HttpClient HttpClient
@page "/instance/workers"

@if (_loading)
{
    <div class="col-md-6 offset-md-3 mt-5">
        <div class="card">
            <h4 class="card-header">Загрузка</h4>
            <div class="card-body">
                ...
            </div>
        </div>
    </div>
}
else
{
    <RadzenHeading Text="Сотрудники"/>
    
    <RadzenButton Click=@(_ => NewWorker()) 
                  Text="Создать"
                  Style="margin: 1rem 0;"
                  ButtonStyle="ButtonStyle.Primary"/>
    
    <Grid Items="@_data" TItem="WorkerViewModel">    
        <Header>  
            <th>ФИО</th>
            <th>Почта</th>
            <th>Телефон</th>
        </Header>  
        <Row Context="item">  
            <td>@item.Name</td>
            <td>@item.Email</td>
            <td>@item.Phone</td>
        </Row>  
    </Grid>
}

@code
{
    private IEnumerable<WorkerViewModel> _data;
    private bool _loading = true;
    [CascadingParameter] public IModalService Modal { get; set; }
    
    protected override async Task OnInitializedAsync()
    {
        _data = (await new GetAllWorkersRequest(
            RequestManager,
            HttpClient, 
            new GetAllWorkersHttpQuery() { InstanceId = InstanceService.GetCurrentInstance().Id })
            .Send()).Data;
        _loading = false;
    }
    
    private void NewWorker()
    {
        Modal.Show<WorkerForm>("Новое подразделение");
    }
}
