@using Nano35.Contracts.Cashbox.Artifacts
@using Nano35.Contracts.Cashbox.Models
@using Nano35.HttpContext.Cashbox
@using Nano35.WebClient.Services
@inject HttpClient HttpClient
@inject RequestManager RequestManager
@inject ISessionProvider SessionProvider
@inject IAuthService AuthService
@inject HealthService HealthService
@inject NavigationManager NavigationManager
@inject HttpGet GetRequest
@inject HttpPost PostRequest


<BoxedContent Width="40">
    <LoadingContent IsLoaded="_isLoaded">
        <RadzenFieldset Text="Ожидаемые выплаты" Style="width: 100%;">
            <EditForm Model=@(Model) OnValidSubmit="HandleValidSubmit">
                <DataAnnotationsValidator />
                <RadzenGrid Data="@_operations" EmptyText="Нет ожидаемых выплат" TItem="WageOperationViewModel">
                    <Columns>
                        <RadzenGridColumn TItem="WageOperationViewModel" Title="Дата">
                            <Template Context="item">
                                @item.Date.ToString("d")
                            </Template>
                        </RadzenGridColumn>
                        
                        <RadzenGridColumn TItem="WageOperationViewModel" Title="К выплате">
                           <Template Context="item">
                               @item.Cash руб.
                           </Template>
                       </RadzenGridColumn>
                    </Columns>
                </RadzenGrid>
            </EditForm>
        </RadzenFieldset>
        <RadzenFieldset Text="Сумма к выплате"
                        Style="width: 100%;">
            <div style="text-align: center">
                @_operations.Sum(e => e.Cash) руб.
            </div>
        </RadzenFieldset>
        <RadzenButton Click=@(_ => { }) Text="Выплатить из кассы" ButtonStyle="ButtonStyle.Primary" style="width: 100%; margin-top: 1rem"/>
    </LoadingContent>
</BoxedContent>

@code {

    [Parameter] public CreateWageOperationHttpBody Model { get; set; } = new();
    [Parameter] public EventCallback FormSubmitted { get; set; }
    [Parameter] public string Error { get; set; }
    [Parameter] public Guid UserId { get; set; }
    [CascadingParameter] public IModalService Modal { get; set; }
    [CascadingParameter] BlazoredModalInstance ModalInstance { get; set; }
    private List<WageOperationViewModel> _operations = new();
    private bool _isLoaded;
    
    protected override async Task OnInitializedAsync()
    {
        _isLoaded = false;
        
        Model.NewId = Guid.NewGuid();
        await GetRequest.InvokeAsync<GetAllWageOperationsHttpResponse>($"Cashbox/WageOperations?unitId={await SessionProvider.GetCurrentUnitId()}&userId={Model.CreatorId}&isWageConfirmed={(int) WageSelection.NotConfirmed}",
            resp =>
            {
                if (resp.IsSuccess()) {_operations = resp.Success.Operations;}
                else
                {
                    Console.WriteLine(resp.Error);
                    NavigationManager.NavigateTo("/instance-view");
                }
            });
        _isLoaded = true;
    }

    private async Task HandleValidSubmit()
    {
        
        try
        {
            await PostRequest.InvokeAsync<CreateWageOperationHttpResponse, CreateWageOperationHttpBody>($"Cashbox/WageOperations", Model,
                resp =>
                {
                    if (resp.IsSuccess()) {}
                    else
                    {
                        Console.WriteLine(resp.Error);
                        NavigationManager.NavigateTo("/instance-view");
                    }
                });
            await ModalInstance.CloseAsync();
        }
        catch (Exception e)
        {
            Error = e.Message;
        }
        
    }
}