@attribute [Authorize]
@layout InstanceLayout
@page "/instance/works-story"
@using Microsoft.AspNetCore.Authorization
@using Nano35.WebClient.Services
@inject IRequestManager RequestManager
@inject ISessionProvider SessionProvider
@inject HttpClient HttpClient

<h3>WorksStoryView</h3>

@code {
    
}