@using Nano35.WebClient.Services
@using Nano35.Contexts.Http.Repair
@inject HttpClient HttpClient
@inject RequestManager RequestManager
@inject IInstanceService InstanceService
@inject ISessionProvider SessionProvider
@inject HttpPost PostRequest
@inject NavigationManager NavigationManager

<BoxedContent>
    <LoadingContent IsLoaded="_isLoaded">
        <EditForm Model="@Model" OnValidSubmit="HandleValidSubmit">
            <DataAnnotationsValidator />
            <InputField Title="Название работы"
                        Helper="...">
                <Controls><RadzenTextBox Style="width: 100%;" @bind-Value="Model.Name"/></Controls>
                <Validation><ValidationMessage For="@(() => Model.Name)" /></Validation>
            </InputField>
            <InputField Title="Цена"
                        Helper="...">
                <Controls><RadzenNumeric ShowUpDown="false" Style="width: 100%;" TValue="double" @bind-Value="Model.Price"/></Controls>
                <Validation><ValidationMessage For="@(() => Model.Price)" /></Validation>
            </InputField>
            <RadzenButton type="submit" Text="Создать" ButtonStyle="ButtonStyle.Primary" Style="width: 100%" />
            @if (!string.IsNullOrEmpty(Error))
            {
                <div class="alert alert-danger mt-3 mb-0">@Error</div>
            }
        </EditForm>
    </LoadingContent>
</BoxedContent>

@code
{
    [Parameter] public CreateWorkHttpBody Model { get; set; } = new();
    [Parameter] public EventCallback FormSubmitted { get; set; }
    [CascadingParameter] BlazoredModalInstance ModalInstance { get; set; }
    [Parameter] public string Error { get; set; }

    private bool _isLoaded;

    protected override async Task OnInitializedAsync()
    {
        _isLoaded = false;
        Model.NewId = Guid.NewGuid();
        Model.InstanceId = await SessionProvider.GetCurrentInstanceId();
        _isLoaded = true;
    }

    private async Task HandleValidSubmit()
    {
        _isLoaded = false;
        await PostRequest.InvokeAsync<CreateWorkHttpResponse, CreateWorkHttpBody>($"Works", Model,
            resp =>
            {
                if (resp.IsSuccess())
                {
                    
                }
                else
                {
                    Console.WriteLine(resp.Error);
                    NavigationManager.NavigateTo("/instance-view");
                }
            });
        await ModalInstance.CloseAsync();
    }
}
