
<div style="width: @(Width)rem;">
    @ChildContent
</div>

@code {
    [Parameter] public RenderFragment ChildContent { get; set; }
    [Parameter] public int Width { get; set; } = 40;
    [Parameter] public int Height { get; set; } = 20;
}