<li class="list-group-item " role="alert">
    <b style="display: flex; align-items: center; justify-content: space-between; white-space: nowrap">@Title: @ChildContent</b>
</li>

@code {
    [Parameter] public string Title { get; set; }
    [Parameter] public RenderFragment ChildContent { get; set; }
}