@using Nano35.WebClient.Services
@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
@layout MainLayout
@inject  ISessionProvider SessionProvider
@inject  IRequestManager RequestManager
@inject  IInstanceService InstanceService

@if (_loading)
    {
        <div class="col-md-6 offset-md-3 mt-5">
            <div class="card">
                <h4 class="card-header">Загрузка</h4>
                <div class="card-body">
                    ...
                </div>
            </div>
        </div>
    }
else
{
    <div class="page">
        <div class="sidebar bg-dark">
            <NavMenu/>
        </div>
        <div class="main" style="margin: 1rem;">
            @Body
        </div>
    </div>
}

@code
{
    private bool _serverAvailable = false;
    private bool _loading = true;
        
    protected override async Task OnInitializedAsync()
    {
        _serverAvailable = await RequestManager.HealthCheck(RequestManager.InstanceServer);
        if(!_serverAvailable)
            NavigationManager.NavigateTo("/instances");
        if(!await SessionProvider.IsCurrentSessionIdExist())
            NavigationManager.NavigateTo("/instances");
        await InstanceService.IsInstanceExist();
        _loading = false;
    }
}
