@using Nano35.WebClient.Services
@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
@inject  ISessionProvider SessionProvider
@inject  IRequestManager RequestManager
@inject  IInstanceService InstanceService


@if (_loading)
    {
        <div class="col-md-6 offset-md-3 mt-5">
            <div class="card">
                <h4 class="card-header">Загрузка</h4>
                <div class="card-body">
                    ...
                </div>
            </div>
        </div>
    }
else
{
    <div style="height: 100vh">
        <NavBar/>
        <div>
            @Body
        </div>
    </div>
}

@code
{
    private bool _serverAvailable = true;
    private bool _loading = true;
        
    protected override async Task OnInitializedAsync()
    {
        //_serverAvailable = await RequestManager.HealthCheck(RequestManager.IdentityServer);
        _loading = false;
    }
}