@using Nano35.WebClient.Services
@using Nano35.WebClient.Helpers
@inject IInstanceService InstanceService
@inject IAuthService AuthService

<div class="top-row pl-4 navbar navbar-dark">
    <NavLink class="navbar-brand" href="/instance-view">
        @OrgName
    </NavLink>
</div>
<div>
    <RadzenPanelMenu>
        @if(_roles.Contains(RolesHelper.Admin))
        {
            <RadzenPanelMenuItem Text="Подразделения" Path="/instance/units"></RadzenPanelMenuItem>
            <RadzenPanelMenuItem Text="Сотрудники" Path="/instance/workers"></RadzenPanelMenuItem>
            <RadzenPanelMenuItem Text="Клиенты" Path="/instance/clients"></RadzenPanelMenuItem>
        }
        @if(_roles.Contains(RolesHelper.Storage) || _roles.Contains(RolesHelper.Admin))
        {
            <RadzenPanelMenuItem Text="Склад">
                <RadzenPanelMenuItem Text="Наличие" Path="/instance/storage/warehouse"></RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="Оприходования" Path="/instance/storage/coming"></RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="Списания" Path="/instance/storage/cancellations"></RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="Продажи" Path="/instance/storage/sells"></RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="Перемещения" Path="/instance/storage/moves"></RadzenPanelMenuItem>
            </RadzenPanelMenuItem>
        }
        @if(_roles.Contains(RolesHelper.Master) || _roles.Contains(RolesHelper.Admin))
        {
            <RadzenPanelMenuItem Text="Заказы на ремонт">
                <RadzenPanelMenuItem Text="Заказ наряды" Path="/instance/repairs"></RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="Мои ремонты" Path="/instance/repairs/my"></RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="Виды работ" Path="/instance/repairs/story"></RadzenPanelMenuItem>
            </RadzenPanelMenuItem>
        }
    </RadzenPanelMenu>
</div>

@code
{
    private string OrgName { get; set; }
    private List<Guid> _roles = new();

    protected override async Task OnInitializedAsync()
    {
        _roles = await AuthService.GetCurrentRoles();
        OrgName = InstanceService.GetCurrentInstance().OrgName;
    }
    
}
