<div class="top-row pl-4 navbar navbar-dark">
    <NavLink class="navbar-brand" href="/instance-view">
        <span class="oi oi-list-rich" aria-hidden="true"></span> @OrgName
    </NavLink>
</div>
<div>
    <RadzenPanelMenu>
            <RadzenPanelMenuItem Text="Подразделения" Path="/instance/units" Icon="account_circle"></RadzenPanelMenuItem>
            <RadzenPanelMenuItem Text="Сотрудники" Path="/instance/workers" Icon="account_circle"></RadzenPanelMenuItem>
            <RadzenPanelMenuItem Text="Клиенты" Path="/instance/clients" Icon="account_circle"></RadzenPanelMenuItem>
            <RadzenPanelMenuItem Text="Склад" Icon="payment">
                <RadzenPanelMenuItem Text="Наличие" Path="/instance/storage" Icon="input"></RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="Оприходования" Path="/instance/coming" Icon="description"></RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="Списания" Path="/instance/cancellations" Icon="payment"></RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="Продажи" Path="/instance/sells" Icon="aspect_ratio"></RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="Перемещения" Path="/instance/moves" Icon="date_range"></RadzenPanelMenuItem>
            </RadzenPanelMenuItem>
            <RadzenPanelMenuItem Text="Заказы на ремонт" Icon="payment">
                <RadzenPanelMenuItem Text="Заказ наряды" Path="/instance/repairs" Icon="input"></RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="Ремонты" Path="/instance/works" Icon="description"></RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="История" Path="/instance/works-story" Icon="payment"></RadzenPanelMenuItem>
            </RadzenPanelMenuItem>
    </RadzenPanelMenu>
</div>
