
<div class="top-row pl-4 navbar navbar-dark">
    <NavLink class="navbar-brand" href="/instance-view">
        <span class="oi oi-list-rich" aria-hidden="true"></span> @OrgName
    </NavLink>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <AuthorizeView>
            <Authorized>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="/instance/units">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Подразделения
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="/instance/workers">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Сотрудники
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="/instance/clients">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Клиенты
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="/instance/storage">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Склад
                    </NavLink>
                </li>
            </Authorized>
        </AuthorizeView>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
