@using Nano35.WebClient.Services
@using Nano35.WebClient.Helpers
@inject IInstanceService InstanceService
@inject IAuthService AuthService

<div class="top-row pl-4 navbar navbar-dark">
    <NavLink class="navbar-brand" href="/instance-view">
        <span class="oi oi-list-rich" aria-hidden="true"></span> @OrgName
    </NavLink>
</div>
<div>
    <RadzenPanelMenu>
        @if(_roles.Contains(RolesHelper.Admin))
        {
            <RadzenPanelMenuItem Text="Подразделения" Path="/instance/units" Icon="account_circle"></RadzenPanelMenuItem>
            <RadzenPanelMenuItem Text="Сотрудники" Path="/instance/workers" Icon="account_circle"></RadzenPanelMenuItem>
            <RadzenPanelMenuItem Text="Клиенты" Path="/instance/clients" Icon="account_circle"></RadzenPanelMenuItem>
        }
        @if(_roles.Contains(RolesHelper.Storage) || _roles.Contains(RolesHelper.Admin))
        {
            <RadzenPanelMenuItem Text="Склад" Icon="payment">
                <RadzenPanelMenuItem Text="Наличие" Path="/instance/storage/warehouse" Icon="input"></RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="Оприходования" Path="/instance/storage/coming" Icon="description"></RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="Списания" Path="/instance/storage/cancellations" Visible="false" Icon="payment"></RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="Продажи" Path="/instance/storage/sells" Visible="false" Icon="aspect_ratio"></RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="Перемещения" Path="/instance/storage/moves" Visible="false" Icon="date_range"></RadzenPanelMenuItem>
            </RadzenPanelMenuItem>
        }
        @if(_roles.Contains(RolesHelper.Master) || _roles.Contains(RolesHelper.Admin))
        {
            <RadzenPanelMenuItem Text="Заказы на ремонт" Icon="payment">
                <RadzenPanelMenuItem Text="Заказ наряды" Path="/instance/repairs" Icon="input"></RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="Мои ремонты" Path="/instance/repairs/my" Icon="description"></RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="История" Path="/instance/repairs/story" Icon="payment"></RadzenPanelMenuItem>
            </RadzenPanelMenuItem>
        }
    </RadzenPanelMenu>
</div>

@code
{
    private string OrgName { get; set; }
    private List<Guid> _roles = new();

    protected override async Task OnInitializedAsync()
    {
        _roles = await AuthService.GetCurrentRoles();
        OrgName = InstanceService.GetCurrentInstance().OrgName;
    }
    
}
