@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
@layout InstanceLayout

<LoadingContent IsLoaded="_loading">
    <div class="page">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <NavLink class="nav-link" href="/instance/storage">
                    Склад
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="/instance/coming">
                    Оприходования
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="/instance/cancellations">
                    Списания
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="/instance/sells">
                    Продажи
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="/instance/moves">
                    Перемещения
                </NavLink>
            </li>
        </ul>
        @Body
    </div>
</LoadingContent>