/* /Pages/Clients.razor.rz.scp.css */
/* /Pages/Coming.razor.rz.scp.css */
.page[b-glttx2o4an] {
    position: relative;
    display: flex;
    flex-direction: column;
}

.main[b-glttx2o4an] {
    flex: 1;
}



.top-row[b-glttx2o4an] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

.top-row[b-glttx2o4an]  a, .top-row .btn-link[b-glttx2o4an] {
    white-space: nowrap;
    margin-left: 1.5rem;
}

.top-row a:first-child[b-glttx2o4an] {
    overflow: hidden;
    text-overflow: ellipsis;
}



.page[b-glttx2o4an] {
    flex-direction: row;
}

.sidebar[b-glttx2o4an] {
    width: 250px;
    height: 100vh;
    position: sticky;
    top: 0;
}

.top-row[b-glttx2o4an] {
    position: sticky;
    top: 0;
    z-index: 1;
}
/* /Pages/Instance.razor.rz.scp.css */
.page[b-rb3lbjc8me] {
    position: relative;
    display: flex;
    flex-direction: column;
}

.main[b-rb3lbjc8me] {
    flex: 1;
}

.sidebar[b-rb3lbjc8me] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-rb3lbjc8me] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

.top-row[b-rb3lbjc8me]  a, .top-row .btn-link[b-rb3lbjc8me] {
    white-space: nowrap;
    margin-left: 1.5rem;
}

.top-row a:first-child[b-rb3lbjc8me] {
    overflow: hidden;
    text-overflow: ellipsis;
}



.page[b-rb3lbjc8me] {
    flex-direction: row;
}

.sidebar[b-rb3lbjc8me] {
    width: 250px;
    height: 100vh;
    position: sticky;
    top: 0;
}

.top-row[b-rb3lbjc8me] {
    position: sticky;
    top: 0;
    z-index: 1;
}
/* /Pages/InstanceView.razor.rz.scp.css */
.page[b-rz99liszj8] {
    position: relative;
    display: flex;
    flex-direction: column;
}

.main[b-rz99liszj8] {
    flex: 1;
}



.top-row[b-rz99liszj8] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

.top-row[b-rz99liszj8]  a, .top-row .btn-link[b-rz99liszj8] {
    white-space: nowrap;
    margin-left: 1.5rem;
}

.top-row a:first-child[b-rz99liszj8] {
    overflow: hidden;
    text-overflow: ellipsis;
}



.page[b-rz99liszj8] {
    flex-direction: row;
}

.sidebar[b-rz99liszj8] {
    width: 250px;
    height: 100vh;
    position: sticky;
    top: 0;
}

.top-row[b-rz99liszj8] {
    position: sticky;
    top: 0;
    z-index: 1;
}
/* /Pages/Login.razor.rz.scp.css */
/* /Pages/ModalEditClient.razor.rz.scp.css */
div.modal-background[b-0hmlggpah4] {
    display: block;
    position: fixed;
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

div.modal-content[b-0hmlggpah4] {
    background-color: #fefefe;
    margin: 5% auto;
    border: 2px solid #888;
    width: 90%;
}
/* /Pages/ModalNewClient.razor.rz.scp.css */
div.modal-background[b-w2wafjl30e] {
    display: block;
    position: fixed;
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

div.modal-content[b-w2wafjl30e] {
    background-color: #fefefe;
    margin: 5% auto;
    border: 2px solid #888;
    width: 90%;
}
/* /Pages/ModalNewInstance.razor.rz.scp.css */
div.modal-background[b-kdspcsomfv] {
    display: block;
    position: fixed;
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

div.modal-content[b-kdspcsomfv] {
    background-color: #fefefe;
    margin: 5% auto;
    border: 2px solid #888;
    width: 90%;
}
/* /Pages/ModalNewUnit.razor.rz.scp.css */
div.modal-background[b-s7v5w9d8gz] {
    display: block;
    position: fixed;
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

div.modal-content[b-s7v5w9d8gz] {
    background-color: #fefefe;
    margin: 5% auto;
    border: 2px solid #888;
    width: 90%;
}
/* /Pages/ModalNewWorker.razor.rz.scp.css */
div.modal-background[b-25o2fr4lh4] {
    display: block;
    position: fixed;
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

div.modal-content[b-25o2fr4lh4] {
    background-color: #fefefe;
    margin: 5% auto;
    border: 2px solid #888;
    width: 90%;
}
/* /Pages/Storage.razor.rz.scp.css */
.page[b-coboazispe] {
    position: relative;
    display: flex;
    flex-direction: column;
}

.main[b-coboazispe] {
    flex: 1;
}



.top-row[b-coboazispe] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

.top-row[b-coboazispe]  a, .top-row .btn-link[b-coboazispe] {
    white-space: nowrap;
    margin-left: 1.5rem;
}

.top-row a:first-child[b-coboazispe] {
    overflow: hidden;
    text-overflow: ellipsis;
}



.page[b-coboazispe] {
    flex-direction: row;
}

.sidebar[b-coboazispe] {
    width: 250px;
    height: 100vh;
    position: sticky;
    top: 0;
}

.top-row[b-coboazispe] {
    position: sticky;
    top: 0;
    z-index: 1;
}
/* /Pages/Units.razor.rz.scp.css */
.page[b-l3gwhaakhi] {
    position: relative;
    display: flex;
    flex-direction: column;
}

.main[b-l3gwhaakhi] {
    flex: 1;
}



.top-row[b-l3gwhaakhi] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

.top-row[b-l3gwhaakhi]  a, .top-row .btn-link[b-l3gwhaakhi] {
    white-space: nowrap;
    margin-left: 1.5rem;
}

.top-row a:first-child[b-l3gwhaakhi] {
    overflow: hidden;
    text-overflow: ellipsis;
}



.page[b-l3gwhaakhi] {
    flex-direction: row;
}

.sidebar[b-l3gwhaakhi] {
    width: 250px;
    height: 100vh;
    position: sticky;
    top: 0;
}

.top-row[b-l3gwhaakhi] {
    position: sticky;
    top: 0;
    z-index: 1;
}
/* /Pages/Workers.razor.rz.scp.css */
.page[b-z90iegqiei] {
    position: relative;
    display: flex;
    flex-direction: column;
}

.main[b-z90iegqiei] {
    flex: 1;
}



.top-row[b-z90iegqiei] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

.top-row[b-z90iegqiei]  a, .top-row .btn-link[b-z90iegqiei] {
    white-space: nowrap;
    margin-left: 1.5rem;
}

.top-row a:first-child[b-z90iegqiei] {
    overflow: hidden;
    text-overflow: ellipsis;
}



.page[b-z90iegqiei] {
    flex-direction: row;
}

.sidebar[b-z90iegqiei] {
    width: 250px;
    height: 100vh;
    position: sticky;
    top: 0;
}

.top-row[b-z90iegqiei] {
    position: sticky;
    top: 0;
    z-index: 1;
}
/* /Shared/InstanceLayout.razor.rz.scp.css */
.page[b-wqd426slov] {
    position: relative;
    display: flex;
    flex-direction: column;
}

.main[b-wqd426slov] {
    flex: 1;
}



.top-row[b-wqd426slov] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

.top-row[b-wqd426slov]  a, .top-row .btn-link[b-wqd426slov] {
    white-space: nowrap;
    margin-left: 1.5rem;
}

.top-row a:first-child[b-wqd426slov] {
    overflow: hidden;
    text-overflow: ellipsis;
}



.page[b-wqd426slov] {
    flex-direction: row;
}

.sidebar[b-wqd426slov] {
    width: 250px;
    height: 100vh;
    position: sticky;
    top: 0;
}

.top-row[b-wqd426slov] {
    position: sticky;
    top: 0;
    z-index: 1;
}
/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-2delmhzm0s] {
    position: relative;
    display: flex;
    flex-direction: column;
}

.main[b-2delmhzm0s] {
    flex: 1;
}

.sidebar[b-2delmhzm0s] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-2delmhzm0s] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-2delmhzm0s]  a, .top-row .btn-link[b-2delmhzm0s] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-2delmhzm0s] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-2delmhzm0s] {
        display: none;
    }

    .top-row.auth[b-2delmhzm0s] {
        justify-content: space-between;
    }

    .top-row a[b-2delmhzm0s], .top-row .btn-link[b-2delmhzm0s] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-2delmhzm0s] {
        flex-direction: row;
    }

    .sidebar[b-2delmhzm0s] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-2delmhzm0s] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .main > div[b-2delmhzm0s] {
        padding: 0;
    }
}
/* /Shared/NavBar.razor.rz.scp.css */
.spacer[b-6pwetrcovu] {
    flex: 1 1 auto;
}
/* /Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-kxcgb8xrqk] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-kxcgb8xrqk] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-kxcgb8xrqk] {
    font-size: 1.1rem;
}

.oi[b-kxcgb8xrqk] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-kxcgb8xrqk] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-kxcgb8xrqk] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-kxcgb8xrqk] {
        padding-bottom: 1rem;
    }

    .nav-item[b-kxcgb8xrqk]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-kxcgb8xrqk]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-kxcgb8xrqk]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-kxcgb8xrqk] {
        display: none;
    }

    .collapse[b-kxcgb8xrqk] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
