# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Nano35.WebClient.iml
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\user\RiderProjects\Nano35.ServiceClient\Nano35.WebClient\.idea\.idea.Nano35.WebClient\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
